html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Bitter", serif;
  background-color: #fff;
  background-image: url('http://m.nkd.su/noise.png');
  color: #444;
  text-shadow: #fff 0 .1em 0;
  height: 100%;
}

#everything {
  min-height: 100%;
  position: relative;
}

#content {
  margin: 0 auto;
  max-width: 50em;
  min-width: 200px;
  padding: 1em;
  position: relative;
  padding-bottom: 12em;
}

h2.message {
  text-align: center;
}

#disclaimer {
  font-size: .8em;
  color: #888;
  text-align: center
  margin-bottom: 3em;
}

#beta {
  padding-top: .7em;
  font-size: 2em;
  -webkit-transform: rotate(-15deg); 
  -ms-transform: rotate(-15deg); 
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  left: .2em;
}
  

.played, #beta {
  font-family: "IM Fell English SC", serif;
  position: absolute;
  padding-left: 1em;
  margin-top: -.1em;
  z-index: -1;
  text-shadow: none;
  color: #eaa;
}

/* random jaunty angles! */

div.track:nth-child(2n+1) .played {
  -webkit-transform: rotate(3deg); 
  -ms-transform: rotate(3deg); 
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
}

div.track:nth-child(3n+2) .played {
  -webkit-transform: rotate(-4deg); 
  -ms-transform: rotate(-4deg); 
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
}

div.track:nth-child(5n+3) .played {
  -webkit-transform: rotate(5deg); 
  -ms-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

div.track:nth-child(7n+5) .played {
  -webkit-transform: rotate(-6deg); 
  -ms-transform: rotate(-6deg); 
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

div.track:nth-child(3n+1) .played {
  font-size: 3.7em;
  padding-left: 1.2em;
}
div.track:nth-child(5n) .played {
  font-size: 4.5em;
  padding-left: 0.6em;
}
div.track:nth-child(7n) .played {
  font-size: 3.5em;
  padding-left: 1.4em;
}
div.track:nth-child(11n+2) .played {
  font-size: 4.2em;
  padding-left: 0.8em;
}

/* anyway... */

.aligned, p.aside {
  text-align: center;
  clear: both;
  margin: .5em 0;
}

.everything {
  margin-top: 2em;
}

.instructions {
  margin-left: 37.5%;
}

a {
  color: #d66;
  text-decoration: none;
}

a:hover {
  color: #444;
  border-bottom: 1px dotted #d66;
}

/* track tables */

div.endof {
  clear: both;
}

div.track {
  clear: both;
  margin: 2em 0;
  padding: 0 .5em;
}

div.track:hover {
  border-left: 2px solid #d66;
  margin-left: -2px;
}

div.track.ineligible {
  border-color: #666;
}

p.title {
  clear: both;
  padding-right: -4%;
}

span.title {
  font-size: 1.4em;
  font-weight: bold;
}

p.role, p.last_played, p.peter, p.refusal {
  font-size: .8em;
  clear: both;
  margin-top: .2em;
}

.voter img {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 1px;
}
div.track:hover a.voter img {
  border: 1px solid #eee;
  outline: 1px solid #faa;
  margin: 0;
}

div.track a.voter:hover img {
  border: 1px solid #eee;
  outline: 1px solid #aaa;
  margin: 0;
}

a.voter:hover {
  border-bottom: none;
}

.track span.plusone {
  float: right;
  color: #ccc;
  position: relative;
  padding-right: .7em;
  top: .45em;
  margin-bottom: -2em;
  width: 0;
}

.track:hover span.plusone {
  color: #d66;
}

a.upvote:hover span.plusone {
  color: #444;
}

div.tweet_deets {
  display: none
}

a.voter:hover div.tweet_deets {
  position: absolute;
  display: block;
  background-color: #eee;
  background-image: url('http://nkdsm.bldm.us/noise.png');
  border: 1px solid #aaa;
  text-align: center;
  padding: .2em .5em;
  color: #444;
  max-width: 25%;
  font-size: .8em;
}

div.tweet_deets div.tweet_deets, .full_name {
  color: #d66;
}

.screen_name {
  color: #999;
  font-size: .8em;
}

p.refusal {
  color: #aaa;
}

/* login form */
form.login tr {
  clear: both;
}

form {
  text-align: center;
  margin: .5em 0;
}

form p {
  text-align: left;
  margin: .5em 0;
}

form p input {
  text-align: left;
}

form p textarea {
  text-align: left;
}

form ul.errorlist li {
  list-style: none;
  font-size: .7em;
  color: #999;
  position: relative;
  top: .6em;
}

/* search form */

.search_form p {
  text-align: center;
  margin: 0;
}

#submit {
  border-radius: 0;
  background-color: #eee;
  background-image: url('http://nkdsm.bldm.us/noise.png');
  color: #d66;
  z-index: -4;
  font-family: 'Bitter', sans-serif;
  border: 1px solid #999;
  border-top: none;
  font-size: 1em;
  position: relative;
  top: -1px;
  z-index: 0;
  padding: 0 .3em .1em;
  margin: 0 auto;
}

#submit:hover {
  color: #444;
}

#query {
  border-radius: 0;
  width: 100%;
  margin-top: .3em;
  background-color: #eee;
  background-image: url('http://nkdsm.bldm.us/noise.png');
  color: #444;
  border: 1px solid #999;
  font-size: 1.3em;
  font-family: "Gloria Hallelujah", cursive;
  padding-left: .2em;
}

#query:focus {
  outline: none;
}

.roulette {
  font-size: .8em;
}

/* footer */
#footer {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  font-size: .8em;
  text-align: center;
  color: #999;
  line-height: 1.5em;
}


#footer .credit {
  margin: .5em 2em;
}

/* markdown */

.markdown * {
  text-align: left;
  margin-top: .5em;
}

/* front-page divs */

div.playlist .last_played, div.playlist .voters, div.playlist .refusal {
  display: none;
}

div.playlist.today div.track .voters {
  display: block;
  margin-top: .5em;
  clear: both;
  width: 100%;
}

div.playlist .metadata {
  width: 100%;
}

div.playlist .metadata {
  text-align: left;
}

h2 {
  text-align: right;
}

div.playlist h2 {
  text-align: right;
  width: 100%;
  padding: 0 .3em;
}

a#stamp img {
  width: 65px;
  height: 65px;
}

a#stamp:hover {
  border: none;
}

@media (min-width:551px) {
  #header {
    margin: 1em 0;
    height: 7em;
  }

  h2.heading {
    width: 57%;
    text-align: right;
  }

  p.subheading {
    width: 57%;
    text-align: right;
  }

  div#title {
    float: left;
    width: 50%;
    text-align: right;
    margin-top: .3em;
  }

  h1 {
    font-size: 2.5em;
    font-weight: bold;
    z-index: 1;
    margin-bottom: .15em;
  }

  div#search_div {
    padding-left: .6em;
    display: block;
    float: left;
    text-align: center;
    margin-left: .7em;
    max-width: 40%;
  }

  div.metadata {
    float: left;
    width: 57%;
    text-align: right;
  }

  .track span.plusone {
    left: 6%;
  }


  div.voters {
    margin-top: 1.2em;
    float: right;
    width: 37%;
  }

  div.playlist {
    float: right;
    width: 28%;
  }

  div.playlist .track {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  div.playlist div.track div.played {
    font-size: 2em;
    margin-top: .4em;
    padding-left: 1em;
  }

  div.current {
    float: left;
    width: 68%;
  }

  .played {
    font-size: 4em;
  }

  .markdown {
    width: 80%;
    margin: 0 auto;
  }

  form p label {
    clear: both;
    float: left;
    width: 42%;
    text-align: right;
    padding-right: .5em;
  }
}

@media (max-width:550px) {
  #header {
    margin: 1em 0;
    height: 12em;
  }

  h1 {
    font-size: 2.5em;
    font-weight: bold;
    z-index: 1;
    margin-bottom: .15em;
  }

  #beta {
    margin-left: 4em;
  }

  p.subheading {
    text-align: right;
  }

  div.current div.track.ineligible {
    display: none;
  }

  div.voters {
    margin-top: .5em;
    clear: both;
    width: 100%;
  }

  .search_form {
    text-align: center;
    margin: 1em;
    margin-bottom: 2em;
  }

  .metadata {
    padding-right: 1em;
  }

  .track span.plusone {
    left: 1em;
  }

  .aligned, p.aside {
    margin: 1em 0;
  }

  div#everything div.track div.played {
    font-size: 2em;
    margin-top: .5em;
  }

  div.voters div.tweet_deets {
    min-width: 70%;
  }

  form p input, form p label, form p textarea {
    display: block;
  }

  form p label {
    margin-top: .5em;
  }
}
