* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  background-image: url('http://nkdsm.bldm.us/noise.png');
  color: #444;
  max-width: 50em;
  min-width: 40em;
  margin: 1em auto 5em auto;
  padding: 0 1em;
  font-family: "Lora", sans-serif;
  text-shadow: #fff 0 .1em 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  z-index: 1;
  margin-bottom: .1em;
}

h2.message {
  text-align: center;
}

h2.heading {
  margin-top: 1em;
  width: 57%;
  text-align: right;
}
p.subheading {
  width: 57%;
  text-align: right;
}

.played {
  font-family: "IM Fell English SC", serif;
  position: absolute;
  padding-left: 1em;
  z-index: -1;
  text-shadow: #fff 0 0 1em;
  color: #eaa;
  font-size: 4em;
}

/* random jaunty angles! */

div.track:nth-child(2n) .played {
  -webkit-transform: rotate(3deg); 
  -ms-transform: rotate(3deg); 
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  font-size: 4.2em;
}

div.track:nth-child(3n+2) .played {
  -webkit-transform: rotate(-4deg); 
  -ms-transform: rotate(-4deg); 
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  font-size: 4.5em;
}

div.track:nth-child(5n+3) .played {
  -webkit-transform: rotate(5deg); 
  -ms-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  font-size: 3.5em;
}

div.track:nth-child(7n+5) .played {
  -webkit-transform: rotate(-6deg); 
  -ms-transform: rotate(-6deg); 
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  font-size: 3.7em;
}

/* anyway... */

.aligned {
  text-align: center;
  clear: both;
}

.everything {
  margin-top: 2em;
}

h1 {
  clear: both;
  width: 37.5%;
  text-align: right;
}

.subtitle {
  width: 37.5%;
  text-align: right;
}

.instructions {
  margin-left: 37.5%;
}

a {
  color: #d66;
  text-decoration: none;
}

a:hover {
  color: #444;
  border-bottom: 1px dotted #d66;
}

/* track tables */

div.endof {
  clear: both;
}

div.track {
  clear: both;
  margin: 2em 0;
  padding: 0 .5em;
}

div.track:hover {
  border-left: 2px solid #d66;
  margin-left: -2px;
}

div.track.ineligible {
  border-color: #666;
}

div.metadata {
  float: left;
  width: 57%;
  text-align: right;
}

p.title {
  clear: both;
  padding-right: -4%;
}

span.title {
  font-size: 1.4em;
  font-weight: bold;
}

p.role, p.last_played, p.peter {
  font-size: .8em;
  clear: both;
  margin-top: .2em;
}

div.voters {
  margin-top: 1em;
  float: right;
  width: 37%;
}

.voter img {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 1px;
}
div.track:hover a.voter img {
  border: 1px solid #eee;
  outline: 1px solid #faa;
  margin: 0;
}

div.track a.voter:hover img {
  border: 1px solid #eee;
  outline: 1px solid #aaa;
  margin: 0;
}

a.voter:hover {
  border-bottom: none;
}

.track span.plusone {
  float: right;
  color: #ccc;
  position: relative;
  left: 3.5%;
  top: .3em;
  margin-bottom: -2em;
  width: 0;
}

.track:hover span.plusone {
  color: #d66;
}

a.upvote:hover span.plusone {
  color: #444;
}

div.tweet_deets {
  display: none
}

a.voter:hover div.tweet_deets {
  position: absolute;
  display: block;
  background-color: #eee;
  background-image: url('http://nkdsm.bldm.us/noise.png');
  border: 1px solid #aaa;
  text-align: center;
  padding: .2em .5em;
  color: #444;
  max-width: 20%;
  font-size: .8em;
}

div.tweet_deets .screen_name {
  color: #d66;
}

p.aside {
  text-align: center;
}

/* login form */
form.login, form.new_vote {
  text-align: center;
}

form.login tr {
  clear: both;
}

/* search form */

.search_form {
  position: relative;
  top: -4.8em;
  margin-bottom: -2em;
  text-align: center;
  margin-left: 40%;
  width: 40%;
}

#submit {
  background-color: #eee;
  background-image: url('http://nkdsm.bldm.us/noise.png');
  color: #d66;
  z-index: -4;
  font-family: 'Lora', sans-serif;
  border: 1px solid #999;
  border-top: none;
  font-size: 1em;
  position: relative;
  top: -1px;
  z-index: 0;
  padding: 0 .3em .1em;
}

#submit:hover {
  color: #444;
}

#query {
  width: 100%;
  margin-top: .3em;
  background-color: #eee;
  background-image: url('http://nkdsm.bldm.us/noise.png');
  color: #444;
  border: 1px solid #999;
  font-size: 1.3em;
  font-family: "Gloria Hallelujah", cursive;
  padding-left: .2em;
}

#query:focus {
  outline: none;
}

.roulette {
  font-size: .8em;
}

/* footer */
#footer {
  clear: both;
  padding-top: 3em;
  font-size: .8em;
  text-align: center;
  color: #999;
  line-height: 1.5em;
}

#footer .credit {
  margin: .5em 0;
}

/* markdown */
.markdown {
  width: 80%;
  margin: 0 auto;
}

.markdown * {
  text-align: left;
  margin-top: .5em;
}

/* front-page divs */
div.playlist {
  float: right;
  width: 28%;
}

div.playlist .track {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

div.playlist div.track div.played {
  font-size: 2em;
  margin-top: .4em;
  padding-left: 1em;
}

div.current {
  float: left;
  width: 68%;
}

div.playlist .last_played, div.playlist .voters {
  display: none;
}

div.playlist .metadata {
  width: 100%;
}

div.playlist .metadata {
  text-align: left;
}

div.playlist h2 {
  text-align: left;
  width: 100%;
  padding: 0 .3em;
}

