Markdown==3.1.1
Pillow==7.0.0
celery==4.1
classtools
django-instant-coverage==1.1.0
django-nose==1.4.5
django-pipeline==1.7.0
django>=2.2,<2.3
musicbrainzngs==0.5
ndg-httpsclient
psycopg2
pyasn1
python-Levenshtein
python-dateutil==2.8.1
python-memcached==1.59
requests==2.22.0
slimit==0.8.1
sly==0.4
tweepy==3.8.0
ujson==1.33
