django>=2.2,<2.3
celery==4.1
python-memcached==1.59
tweepy==3.8.0
Markdown==3.1.1
ujson==1.33
python-dateutil==2.8.1
django-pipeline==1.7.0
slimit==0.8.1
django-nose==1.4.5
requests==2.22.0
django-instant-coverage==1.1.0
Pillow==7.0.0
musicbrainzngs==0.5
ndg-httpsclient
pyasn1
classtools
python-Levenshtein
psycopg2
