{% if widget.is_initial %}
  <span class="current-file">
    {{ widget.initial_text }}:
    <a href="{{ widget.value.url }}">this file</a>
  </span>

  {% if not widget.required %}
    <span class="clear-file">
      <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}:</label>
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
    </span>
  {% endif %}
{% endif %}

<span
  {% if widget.is_initial %}
   class="replacement-file-input"
  {% endif %}
>
  {% if widget.is_initial %}
    {{ widget.input_text }}:
  {% endif %}
  <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
