html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

img {
  border: none;
}

body {
  font-family: "Bitter", "Calibri", serif;
  background-color: #fff;
  background-image: url('/noise.png');
  color: #444;
  text-shadow: #fff 0 .1em 0;
  height: 100%;
}

#everything {
  min-height: 100%;
  position: relative;
}

#content {
  margin: 0 auto;
  max-width: 50em;
  min-width: 200px;
  padding: 1em;
  position: relative;
  padding-bottom: 12em;
}

h2, h3 {
  text-align: center;
  margin: 1em 0 .5em;
}

p.subheading {
  text-align: center;
  margin: -.8em 0 1em;
}

p.minor {
  font-size: .8em;
}


/* selections */
div.track.ineligible {
  -webkit-box-shadow: inset #222 0 .2em 2em;;
  background-image: url('/noise.png');
  background-color: #333;
  color: #eee;
}

div.track.ineligible.selected {
  -webkit-box-shadow: inset #933 0 .2em 2em;
  background-image: url('/noise.png');
  background-color: #422;
  border-color: #a44;
  color: #eee;
}

div.track.ineligible .metadata, div.track.ineligible .invitation {
  text-shadow: #000 0 .1em 0;
}

div.track.ineligible a, div#header a {
  color: #f88;
}

div.track.eligible.pending {
  background-color: #fff;
}

div.track.ineligible.pending {
  background-color: #222;
  -webkit-box-shadow: inset #433 0 .2em 2em;
}

div.track.ineligible.selected.pending {
  background-color: #311;
  -webkit-box-shadow: inset #333 0 .2em 2em;
}

div.track.eligible.pending, div.track.eligible.selected {
  -webkit-box-shadow: inset #fdd 0 .2em 2em;
}

div.track.eligible.selected {
  border-color: #caa;
}

div.track.eligible.selected div.metacontainer div.metadata {
  border-color: #ecc;
}

div.track.ineligible div.metacontainer div.metadata {
  border-color: #555;
}

div.track.selected.eligible.pending {
  -webkit-box-shadow: inset #eee 0 .2em 2em;
}

div.track.selected {
  background-color: #fee;
  background-image: url('/noise.png');
}

/* selection list */
div.minitrack {
  text-align: center;
  margin-top: .5em;
}

div#selection h3 {
  text-align: center;
}

div.minitrack p.title {
  font-size: 1.2em;
}

div.minitrack p.role {
  font-size: .8em;
}

div.minitrack p.id {
  display: none;
}

div#selection {
  clear: both;
  text-align: center;
  padding-top: 4em;
}

p.actions.small, p.deselect {
  font-size: .8em;
  margin-bottom: .3em;
  clear: both;
}

h3#selection {
  margin: 0;
}

div#stick {
  position: fixed;
  bottom: -1em;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

div#stick div.stuck {
  display: inline-block;
  background-color: #fff;
  background-image: url('/noise.png');
  -webkit-box-shadow: inset #ddd 0 0 2em, #888 0 .5em 2em;
  border: 1px solid #aaa;
  padding: .5em 1em 1.5em;
  margin: 0 auto;
  border-radius: 1em;
}

/* header and stamps */

div#titles {
  text-align: center;
  position: relative;
  z-index: 1;
}

h1 {
  margin-bottom: -.1em;
  text-shadow: #333 0 0 .2em;
}

div#header-background {
  -webkit-box-shadow: inset #222 0 .2em 2em, #ccc 0 0 2em;
  background-image: url('/noise.png');
  background-color: #333;
  color: #eee;
  text-shadow: #000 0 .1em 0;
  width: 100%;
  overflow: hidden;
}

div#header-container {
  margin: 0 auto;
  max-width: 50em;
}


div#header {
  width: 100%;
  margin: 0 auto;
}

div#subtitle {
  font-size: .8em;
  text-align: center;
}

/* search form */

div#search_div {
  text-align: center;
  position: relative;
}

form#search {
  padding-top: .2em;
  display: block;
  margin: 0 auto;
}

form#search input {
  font-family: "Bitter", "Calibri", serif;
  vertical-align: center;
}

form#search input#query {
  padding-left: .2em;
  background-color: #eee;
  background-image: url('/noise.png');
  border: 1px solid #333;
  border-radius: .3em;
  height: 1.5em;
  font-size: 1.2em;
  padding-right: 3em;
  margin-right: -3em;
  width: 70%;
}

form#search input#query:focus {
  outline: none;
}

form#search input#submit {
  border: none;
  border-left: 1px solid #bbb;
  border-radius: 0;
  text-shadow: #fff 0 .1em 0;
  background: none;
  padding-left: .8em;
  position: relative;
  bottom: .3em;
  right: .3em;
  color: #d66;
}

.roulette {
  font-size: .8em;
}


#protip {
  font-size: .8em;
  color: #888;
  text-align: center;
}

p.new_tracks {
  padding-top: 1.5em;
}

.aligned, p.aside {
  text-align: center;
  clear: both;
  margin: .5em 0;
}

.everything {
  margin-top: 2em;
}

.instructions {
  margin-left: 37.5%;
}

a {
  color: #d66;
  text-decoration: none;
}

/* track tables */

div.track {
  -webkit-box-shadow: inset #eee 0 .2em 2em;
  background-image: url('/noise.png');
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 1em;
  clear: both;
  margin-bottom: 1.5em;
  padding: .5em 0;
  display: table;
  width: 100%;
}

div.track div.metadata, div.track div.votedata {
  margin: 0em .5em;
}

div.voters {
  margin-left: .1em;
  display: table;
  width: 100%;
}

div.track.ineligible {
  border-color: #666;
}

div.track span.title {
  font-size: 1.4em;
  font-weight: bold;
}

div.track p.role, div.track p.last_played, div.track p.peter, div.track p.refusal {
  font-size: .8em;
  clear: both;
  margin-top: .2em;
}

div.votes {
  display: table-cell;
  vertical-align: middle;
  padding-top: .4em;
  padding-right: .5em;
}

div.plusone {
  width: 2em;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.voter img {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 1px;
}

div.tweet_deets {
  display: none
}

a.voter:hover div.tweet_deets {
  position: absolute;
  display: block;
  background-color: #f8f8f8;
  background-image: url('/noise.png');
  border: 1px solid #aaa;
  text-align: center;
  padding: .2em .5em;
  margin-left: -1px;
  margin-top: 3px;
  color: #444;
  font-size: .8em;
  overflow: hidden;
  border-radius: .4em;
  -webkit-box-shadow: inset #ddd 0 0 1em, #888 0 .1em .3em;
  z-index: 4;
  max-width: 17em;
}

div.tweet_deets div.tweet_deets, .full_name {
  color: #d66;
}

.screen_name {
  color: #999;
  font-size: .8em;
}

p.refusal {
  color: #aaa;
}

/* shrunken track tables */
div.shortlist div.track {
  font-size: .8em;
  width: 80%;
  margin: 1em auto;
}

div.shortlist .voter img {
  height: 25px;
  width: 25px;
}

/* login form */
form.login tr {
  clear: both;
}

form {
  text-align: center;
  margin: .5em 0;
}

form p {
  text-align: left;
  margin: .5em 0;
}

form p input {
  text-align: left;
}

form p textarea {
  text-align: left;
}

form ul.errorlist li {
  list-style: none;
  font-size: .7em;
  color: #999;
  position: relative;
  top: .6em;
}

/* footer */
#footer {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  font-size: .8em;
  text-align: center;
  color: #999;
  line-height: 1.5em;
}


#footer .credit {
  margin: .5em 2em;
}

/* markdown */

.markdown * {
  text-align: left;
  margin-top: .5em;
}

/* front-page divs */

div.playlist .last_played, div.playlist .refusal, div.playlist div.disabled {
  display: none;
}

div.playlist.today div.track .voters {
  padding-top: .5em;
}

div.playlist div.track {
  display: block;
}

div.playlist div.voters {
  display: block;
  width: 100%;
}

div.playlist div.metacontainer {
  display: block;
  width: 100%;
  text-align: left;
}

div.shortlist {
  clear: both;
}

a#stamp img {
  width: 65px;
  height: 65px;
}

a#stamp:hover {
  border: none;
}

@media (min-width:551px) {
  div#header {
    display: table;
  }

  div#titles {
    width: 35%;
    float: left;
  }

  div#title {
    width: 120px;
    float: right;
    text-align: center;
  }

  div#subtitle {
    clear: both;;
    width: 120px;
    float: right;
    text-align: center;
  }

  div#search_div {
    float: right;
    padding-top: .5em;
    padding-bottom: 1.2em;
    padding-right: 2em;
    width: 40%;
  }

  form#search {
    margin: 0 auto;
  }


  div.tracklist div.track div.metadata, div.shortlist div.track div.metadata {
    float: left;
    text-align: right;
    border-right: #ddd solid 1px;
    padding: 100em 3.8%;
    margin: -99.9em 0;
    width: 89%;
  }
  
  div.track div.metacontainer {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    width: 63%;
  }

  div.votedata {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  div.playlist div.votedata {
    display: block;
  }

  div.playlist {
    float: right;
    width: 32%;
  }

  div.current {
    float: left;
    width: 64%;
  }

  .disabled {
    font-size: 4em;
  }

  .markdown {
    width: 80%;
    margin: 0 auto;
  }

  form p label {
    clear: both;
    float: left;
    width: 42%;
    text-align: right;
    padding-right: .5em;
  }

  /* hover effects are desktop only */
  form#search input#submit:hover {
    color: #444;
  }

  div.track.ineligible a:hover, div#header a:hover {
    color: #eee;
    border-color: #f99;
  }

  h1 a:hover {
    border: none;
  }

  a:hover {
    color: #444;
    border-bottom: 1px dotted #d66;
  }

  div.track.selectable:hover {
    border-color: #d66;
  }

  div.track:hover a.voter.commented img {
    -webkit-box-shadow: #d66 0 0 .3em;
    outline-color: #d66;
    margin: 0;
  }

  div.track:hover a.voter img {
    border: 1px solid #eee;
    -webkit-box-shadow: #888 0 0 .3em;
    outline: 1px solid #888;
    margin: 0;
  }

  div.track.ineligible:hover a.voter img {
    border-color: #333;
  }

  a.voter:hover {
    border-bottom: none;
  }

}

@media (max-width:550px) {
  div#header {
    padding: .6em 0 1em;
  }

  div#search_div {
    padding-top: .5em;
  }

  div#title, div#search_div {
    display: block;
  }

  .aligned, p.aside {
    margin: 1em 0;
  }

  div#everything div.track div.disabled {
    font-size: 2em;
    margin-top: .5em;
  }

  form p input, form p label, form p textarea {
    display: block;
  }

  form p label {
    margin-top: .5em;
  }

  div.voters {
    padding-top: .5em;
  }

  div.track {
    display: block;
  }

  div.request {
    margin-top: .3em;
  }
}

#djDebug {
  text-shadow: none;
}
