{% extends parent %}

{% block title %}new tracks for {{ show.showtime|date:"F"|lower }} {{ show.showtime|date:"jS Y" }}{% endblock %}

{% block content %}
  <h2>tracks added for {{ show.showtime|date:"F"|lower }}&nbsp;{{ show.showtime|date:"jS Y" }}</h2>
  <p class="subheading">
    {% if show.next and show.next.has_ended %}
      <a href="{{ show.next.get_revealed_url }}">« {{ show.next.showtime|date:"Y-m-d" }}</a>
    {% else %}
      <a href="{% url "vote:index" %}">« current</a>
    {% endif %}

    ·

    {% if show.has_ended %}
      <a href="{% url "vote:archive" year=show.showtime.year %}">all {{ show.showtime.year }} shows</a>
    {% else %}
      <a href="{% url "vote:archive" %}">all shows</a>
    {% endif %}

    ·

    {% if show.prev %}
      <a href="{{ show.prev.get_revealed_url }}">{{ show.prev.showtime|date:"Y-m-d" }} »</a>
    {% else %}
      no older show
    {% endif %}
  </p>

  {% if show.plays %}
    <p class="subheading"><a href="{{ show.get_absolute_url }}">{{ show.plays|length }} track{{ show.plays|pluralize }} played this week</a></p>
  {% endif %}

  {% if object_list %}
    <ul class="tracks">
      {% include "include/tracklist.html" with tracks=object_list %}
    </ul>

    {% include "include/paginator.html" %}
  {% else %}
    <p class="aside">no tracks added this week ( ´· _ ·`)<p>
  {% endif %}
{% endblock %}
