{% extends "base.html" %}

{% block title %}new tracks{% endblock %}

{% block content %}
  <h2>tracks added for {{ show.showtime|date:"F"|lower }}&nbsp;{{ show.showtime|date:"jS, Y" }}</h2>
  {% if show.plays %}
    <p class="subheading"><a href="{{ show.get_absolute_url }}">{{ show.plays|length }} track{{ show.plays|pluralize }} played this week</a></p>
  {% endif %}
  <p class="subheading">
    &lt;
    {% if show.prev %}
      <a href="{{ show.prev.get_added_url }}">{{ show.prev.showtime|date:"Y-m-d" }}</a>
    {% else %}
      —
    {% endif %}
    · <a href="{% url "vote:archive" %}">all shows</a> ·
    {% if show.has_ended and show.next %}
      <a href="{{ show.next.get_added_url }}">{{ show.next.showtime|date:"Y-m-d" }}</a>
    {% else %}
      —
    {% endif %}
    &gt;
  </p>
  {% if show.revealed %}
    <ul>
      {% include "include/tracklist.html" with tracks=show.revealed %}
    </ul>
  {% else %}
    <p class="aside">no tracks added this week ( ´· _ ·`)<p>
  {% endif %}
{% endblock %}
