{% extends parent %}

{% load vote_tags %}

{% block title %}{{ anime }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  grouped-tracks
{% endblock %}

{% block content %}

  {% with anime|anime as anime_detail %}
    {% if anime_detail %}
      <div class="anime-detail-header">
        <img class="anime-picture" src="{{ anime_detail.cached_picture_url }}" alt=""/>

        <div class="detail">
          <h2>{{ anime }}</h2>
          {% include "include/anime.html" with anime=anime_detail %}
          {% if related_anime %}
            {# replace this to use the relations from the offline db #}
            <p class="related-anime">
              related anime:
              {% for anime in related_anime %}
                <a href="{% url "vote:anime" anime=anime %}">{{ anime }}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </p>
          {% endif %}
        </div>
      </div>
    {% else %}
      <h2>{{ anime }}</h2>

      {% if related_anime %}
        <p class="related-anime">
          related anime:
          {% for anime in related_anime %}
            <a href="{% url "vote:anime" anime=anime %}">{{ anime }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    {% endif %}
  {% endwith %}

  {% regroup role_tracks by 0.plural as roles %}

  <div class="track-groups">
    {% for role, these_role_tracks in roles %}
      <div class="track-group">
        <h3>{{ role }}</h3>
        <ul class="tracks">
          {% for role, track in these_role_tracks %}
            {% include "include/track.html" %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  <p class="aligned everything">
    Are we missing a good pick from {{ anime }}? <a href="{% url "vote:request_addition" %}?show={{ anime|urlencode }}">Get it added to the library</a>!
    {% if anime == "Carole & Tuesday" %}
      No, we will not be adding Galactic Mermaid.
    {% endif %}
  </p>

{% endblock %}
