{% extends parent %}

{% block title %}{{ anime }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  grouped-tracks
{% endblock %}

{% block content %}

  <h2>{{ anime }}</h2>

  {% if related_anime %}
    <p class="related-anime">
      Related anime:
      {% for anime in related_anime %}
      <a href="{% url "vote:anime" anime=anime %}">{{ anime }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
  {% endif %}

  {% regroup tracks by role_detail.plural as roles %}

  <div class="track-groups">
    {% for role, tracks in roles %}
      <div class="track-group">
        <h3>{{ role }}</h3>
        <ul class="tracks">
          {% for track in tracks %}
            {% include "include/track.html" %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

{% endblock %}
