{% extends parent %}

{% block title %}{{ anime }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  anime
{% endblock %}

{% block content %}

  <h2>{{ anime }}</h2>

  {% regroup tracks by role_detail.plural as roles %}

  <div class="role-categories">
    {% for role, tracks in roles %}
      <div class="role-category">
        <h3>{{ role }}</h3>
        <ul class="tracks">
          {% for track in tracks %}
            {% include "include/track.html" %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

{% endblock %}
