{% extends parent %}

{% block title %}archive{% endblock %}

{% block content %}
  <ul class="archive">
    {% for show in object_list %}
      <li class="show">
        <h2><a href="{{ show.get_absolute_url }}">{{ show.showtime|date:"F jS Y" }}</a></h2>
        <p class="subheading">
          <span><a href="{{ show.get_absolute_url }}">{{ show.play_set.count }} play{{ show.play_set.count|pluralize }}</a></span>
          <span>{{ show.vote_set.count }} vote{{ show.vote_set.count|pluralize }}</span>
          {% if show.revealed.count %}
            <span><a href="{{ show.get_revealed_url }}">{{ show.revealed.count }} new track{{ show.revealed.count|pluralize }}</a></span>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  {% include "include/paginator.html" %}
{% endblock %}
