{% extends "base.html" %}

{% block content %}
  <ul class="archive">
    {% for show in object_list %}
      <li class="show">
        <h2><a href="{{ show.get_absolute_url }}">{{ show.showtime|date:"F jS Y" }}</a></h2>
        <p class="subheading">
          <span>{{ show.plays|length }} play{{ show.plays|length|pluralize }}</span>
          <span>{{ show.votes|length }} vote{{ show.votes|length|pluralize }}</span>
        </p>
        {# XXX new tracks? #}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
