{% extends parent %}

{% block title %}{{ artist }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  grouped-tracks
{% endblock %}

{% block content %}

  <h2>{{ artist }}</h2>

  <p class="subheading">
    {% if tracks|length == 0 %}
      This isn't currently an artist that we recognise in the library.

      {% if artist_suggestions %}
        You might be looking for:
        {% for suggestion in artist_suggestions %}
          <a href="{% url "vote:artist" artist=suggestion %}">{{ suggestion }}</a>{% if forloop.last %}. {% else %}, {% endif %}
        {% endfor %}
      {% endif %}

      You may want to <a href="{% url "vote:search" %}?q={{ artist|urlencode }}">run a search</a> if that's unhelpful.

    {% elif tracks|length == 1 %}
      {% if played|length == 0 %}
        The only track here has not yet been played.
      {% else %}
        All of these tracks have been played, but there's only one of them, so take that as you will.
      {% endif %}

    {% elif played|length == tracks|length %}
      {% if tracks|length == 2 %}
        Both of these tracks have been played.
      {% else %}
        All {{ tracks|length }} of these tracks have been played.
      {% endif %}

    {% elif played|length == 0 %}
      {% if tracks|length == 2 %}
        Neither of the tracks here have been played.
      {% else %}
        None of the {{ tracks|length }} tracks here have been played.
      {% endif %}

    {% else %}
      {{ played|length }} of these {{ tracks|length }} tracks {{ played|length|pluralize:"has,have" }} been played.
    {% endif %}
  </p>

  {% regroup tracks by role_detail.anime as animes %}

  <div class="track-groups">
    {% for anime, tracks in animes %}
      <div class="track-group">
        <h3>
          {% if anime %}
            <a href="{% url "vote:anime" anime=anime %}">{{ anime }}</a>
          {% else %}
            Other
          {% endif %}
        </h3>
        <ul class="tracks">
          {% for track in tracks %}
            {% include "include/track.html" %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

{% endblock %}
