{% extends parent %}

{% block title %}{{ artist }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  grouped-tracks
{% endblock %}

{% block content %}

  <h2>{{ artist }}</h2>

  <p class="subheading">
    {% if tracks|length == 0 %}
      This isn't currently an artist that we recognise in the library. You might want to <a href="{% url "vote:search" %}?q={{ artist|urlencode }}">run a search</a> instead.
    {% elif tracks|length == 1 %}
      {% if played|length == 0 %}
        The only track in the library by {{ artist }} has not yet been played.
      {% else %}
        All of these tracks have been played, but there's only one of them, so take that as you will.
      {% endif %}
    {% elif played|length == tracks|length %}
      All {{ tracks|length }} tracks by {{ artist }} in the library have been played.
    {% elif played|length == 0 %}
      None of the {{ tracks|length }} track{{ tracks|pluralize }} by {{ artist }} have been played.
    {% else %}
      {{ played|length }} of the {{ tracks|length }} track{{ tracks|pluralize }} by {{ artist }} in the library {{ played|pluralize:"has,have" }} been played.
    {% endif %}
  </p>

  {% regroup tracks by role_detail.anime as animes %}

  <div class="track-groups">
    {% for anime, tracks in animes %}
      <div class="track-group">
        <h3>
          {% if anime %}
            <a href="{% url "vote:anime" anime=anime %}">{{ anime }}</a>
          {% else %}
            Other
          {% endif %}
        </h3>
        <ul class="tracks">
          {% for track in tracks %}
            {% include "include/track.html" %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

{% endblock %}
