{% load compressed static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>
      var selectURL = "{% url 'vote:js:select' %}";
      var deselectURL = "{% url 'vote:js:deselect' %}";
      var getSelectionURL = "{% url 'vote:js:get_selection' %}";
      var clearSelectionURL = "{% url 'vote:js:clear_selection' %}";
    </script>
    {% compressed_js "base" %}
    {% compressed_css "main" %}
    {% if user.is_authenticated %}
      {% compressed_js "ui" %}
    {% endif %}
    <link href="http://fonts.googleapis.com/css?family=Bitter:700,400" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/vnd.microsoft.icon">
    <title>
      nkd.su | {% block title %}a neko desu request robot{% endblock %}
    </title>
  </head>
  <body>
    {% csrf_token %}
    <p id="loading"></p>
    <div id="everything">
      {% include "include/pre_content.html" %}
      <main>
        {% block content %}{% endblock %}
        <div id="selection"></div>
        <div id="stick" class="invisible"></div>
      </main>
      {% include "include/post_content.html" %}
      {% block footer_scripts %}{% endblock %}
    </div>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </body>
</html>
