{% load pipeline static %}<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      var selectURL = "{% url 'vote:js:select' %}";
      var deselectURL = "{% url 'vote:js:deselect' %}";
      var getSelectionURL = "{% url 'vote:js:get_selection' %}";
      var clearSelectionURL = "{% url 'vote:js:clear_selection' %}";
    </script>
    {% stylesheet "main" %}
    <link rel="icon" href="{% static "i/logo/icon version.svg" %}" type="image/svg">
    <link rel="mask-icon" href="{% static "i/logo/wordless knockout.svg" %}" color="#d60">
    <title>
      {% block title %}a neko desu request robot{% endblock %} | nkd.su
    </title>
  </head>
  <body
    class="
      {% if user.is_staff %}
        staff
      {% endif %}

      {% if tracks_expanded %}
        tracks-expanded
      {% else %}
        tracks-collapsed
      {% endif %}
    "

    {% if dark_mode %}
      data-dark-mode="dark"
    {% elif dark_mode == False %}
      data-dark-mode="light"
    {% elif dark_mode == None %}
      data-dark-mode="system"
    {% endif %}
  >
    {% csrf_token %}
    <p id="loading"></p>
    <div id="everything">
      {% include "include/pre_content.html" %}

      <main class="{% block main_classes %}{% endblock %}">
        {% block content %}{% endblock %}
        <div id="selection"></div>
      </main>
      {% include "include/post_content.html" %}
    </div>

    <script type="text/x-nkdsu-data" id="shortlist-order-url">{% url 'vote:admin:shortlist_order' %}</script>

    {% javascript "base" %}
    {% block footer_scripts %}{% endblock %}
  </body>
</html>
