{% extends parent %}

{% block title %}{{ category_name|default:"browse" }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  wide
{% endblock %}

{% block content %}

  {% if category_name %}
    <h2>{{ category_name }}</h2>
  {% endif %}

  {% regroup items by group as letters %}

  <p class="letter-buttons">
    {% for letter in letters %}
      <a href="#{{ letter.grouper.1|urlencode }}">{{ letter.grouper.1 }}</a>
    {% endfor %}
  </p>
  

  {% for letter in letters %}
    <section class="browsable-group" id="{{ letter.grouper.1 }}" data-category-name="{{ category_name }}">
      <h3>{{ letter.grouper.1 }}</h3>

      <ul>
        {% for item in letter.list %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.name }}</a>
            {% else %}
              {{ item.name }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
{% endblock %}
