{% extends parent %}

{% block title %}Browse{% endblock %}

{% block main_classes %}
  {{ block.super }}
  wide
{% endblock %}

{% block content %}

  <h2>browse by:</h2>

  <ul class="browsable-categories">
    <li data-category="archive"><a href="{% url "vote:archive" %}"><span>past shows</span></a></li>
    <li data-category="anime"><a href="{% url "vote:browse_anime" %}"><span>anime</span></a></li>
    <li data-category="artists"><a href="{% url "vote:browse_artists" %}"><span>artists</span></a></li>
    <li data-category="years"><a href="{% url "vote:browse_years" %}"><span>years</span></a></li>
  </ul>

{% endblock %}
