{% extends parent %}

{% block content %}
  <h2 class=message>Test metadata parsing</h2>

  <form method="post" action="." class="check-parser">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="test these tags">
  </form>

  {% if warnings %}
    {% for warning in warnings %}
      {% include "include/consistency_warning.html" %}
    {% endfor %}
  {% endif %}

  {% if track %}
    <dl class="parser-check">
      <dt>title</td>
      <dd>{{ track.title }}

      <dt>role</td>
      <dd>
        {% if track.role %}
          {% include "include/roles.html" %}
        {% else %}
          <code>no role</code>
        {% endif %}
      </dd>

      <dt>artists</td>
      <dd>
        {% include "include/linked_artists.html" with artists=track.artists %}
      </dd>
    </dl>
  {% endif %}
{% endblock %}
