{% extends parent %}

{% block content %}
  <h2 class=message>Test metadata parsing</h2>

  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="test these tags">
  </form>

  {% if track %}
    <dl>
      <dt>role</td>
      <dd>
        {% if track.role %}
          <span class="roles">
            {% for role_detail in track.role_details %}
              <span class="role">
                {% if role_detail.anime %}
                  <a href="{% url "vote:anime" anime=role_detail.anime %}">{{ role_detail.anime }}</a>
                  {{ role_detail.caveat|default:"" }}
                  {{ role_detail.full_role }}
                {% else %}
                  {{ role_detail }}
                {% endif %}
              </span>
            {% endfor %}
          </span>
        {% else %}
          <code>no role</code>
        {% endif %}
      </dd>
    </dl>
  {% endif %}
{% endblock %}
