{% extends parent %}

{% block title %}{{ composer }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  grouped-tracks
{% endblock %}

{% block content %}

  <h2>{{ composer }}</h2>

  <div class="track-groups">
    {% for anime, tracks in grouped_tracks.items %}
      <div class="track-group">
        <h3>
          {% if anime %}
            <a href="{% url "vote:anime" anime=anime %}">{{ anime }}</a>
          {% else %}
            Other
          {% endif %}
        </h3>
        <ul class="tracks">
          {% for track in tracks %}
            {% include "include/track.html" %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

{% endblock %}
