{% extends parent %}

{% block title %}{{ composer }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  grouped-tracks
{% endblock %}

{% block content %}

  <h2 class="composer">{{ composer }}</h2>

  {% if tracks_as_artist %}
    <p class="subheading">
      <span class="composer">{{ composer }}</span> is also credited as an <a class="artist" href="{% url "vote:artist" artist=composer %}">artist for {{ tracks_as_artist }} track{{ tracks_as_artist|pluralize }}</a> in the library.
    </p>
  {% endif %}

  <div class="track-groups">
    {% for anime, tracks in grouped_tracks.items %}
      <div class="track-group">
        <h3>
          {% if anime %}
            <a href="{% url "vote:anime" anime=anime %}">{{ anime }}</a>
          {% else %}
            Other
          {% endif %}
        </h3>
        <ul class="tracks">
          {% for track in tracks %}
            {% include "include/track.html" %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

{% endblock %}
