{% extends parent %}

{% block title %}{{ composer }}{% endblock %}

{% block main_classes %}
  {{ block.super }}
  grouped-tracks
{% endblock %}

{% block content %}

  <h2>{{ composer }}</h2>

  {% if tracks_as_artist %}
    <p class="subheading">
    {{ composer }} is also credited as an <a href="{% url "vote:artist" artist=composer %}">artist for {{ tracks_as_artist }} track{{ tracks_as_artist|pluralize }}</a> in the library.
    </p>
  {% endif %}

  {% include "include/tracks_grouped_by_anime.html" %}

{% endblock %}
