{% extends parent %}
{% load vote_tags %}
  
{% block content %}

  {% include "include/show_message.html" %}

  {% if show.playlist %}
    <div id="playlist">
      <h2>played</h2>
      <ul class="tracks playlist">
        {% for track in show.playlist reversed %}
          {% include "include/track.html" %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div {% if show.playlist %}class="defer-to-playlist"{% endif %}>
    {% if user.is_authenticated and show.shortlisted %}
      <h2>shortlist</h2>
      <p class="subheading">{{ show.shortlisted|total_length }}</p>
      <ul class="tracks" id="shortlist">
        {% for track in show.shortlisted %}
          {% include "include/track.html" %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if show.tracks_sorted_by_votes %}
      <h2>current requests</h2>
      <ul class="tracks">
        {% include "include/tracklist.html" %}
      </ul>

      <p class="aside">Want to vote for something else?</p>
    {% else %}
      <h2 class="message">No requests yet</h2>
    {% endif %}

    <p class="aside">Search, browse the <a href="{% url "vote:archive" %}">playlist archive</a> or just <a href="{% url "vote:roulette" %}">throw darts at the wall</a>.</p>

    {% if user.is_authenticated and show.discarded %}
      <h2>discarded</h2>
      <ul class="tracks" id="discarded">
        {% for track in show.discarded %}
          {% include "include/track.html" %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

{% endblock %}

{% block footer_scripts %}
  {% if user.is_authenticated %}
    <script>
      var s = $('ul#shortlist');
      var shortlistOrderURL = "{% url 'vote:admin:shortlist_order' %}";
      if (s.length) {
        s.sortable({
          update: function(e, ui) {
            $.post(shortlistOrderURL, s.sortable("serialize", {attribute: 'data-shortlist-pk'}), function(data) {
              if (data === 'reload') {
                alert("You've added stuff to the shortlist since you last loaded the front page. Please reload before making any more changes.");
              }
            });
          }
        });
      }
    </script>
  {% endif %}
{% endblock %}
