{% extends "base.html" %}

{% block content %}

  {% if user.is_authenticated and show.shortlist_set.exists %}
    <h2>shortlist</h2>
    <ul id="shortlist">
      {% for shortlist in show.shortlist_set.all %}
        {% include "include/track.html" with track=shortlist.track %}
      {% endfor %}
    </ul>
  {% endif %}
  {# XXX playlist #}

  {% if show.tracks_sorted_by_votes %}
    <h2>current requests</h2>
    {# XXX <p class="subheading">&mdash; {{ week.count_votes }} request{{ week.count_votes|pluralize }} - {{ tracks|length }} track{{ tracks|length|pluralize }} - {{ week.count_voters }} {{ week.count_voters|pluralize:"person, people" }} - {{ tracks_len }} &mdash;</p> #}
    <ul>
      {% include "include/tracklist.html" with tracks=show.tracks_sorted_by_votes exclude_listed=True %}
    </ul>

    <p class="aside">Want to vote for something else?</p>
  {% else %}
    <h2 class="message">No requests yet</h2>
  {% endif %}


  {% if user.is_authenticated and show.discard_set.exists %}
    <h2>discarded</h2>
    <ul id="discarded">
      {% for discard in show.discard_set.all %}
        {% include "include/track.html" with track=discard.track %}
      {% endfor %}
    </ul>
  {% else %}
    <p class="aside">Search, browse the <a href="/show/">playlist archive</a> or just <a href="/roulette/">throw darts at the wall</a>.</p>
  {% endif %}

{% endblock %}

{% block footer_scripts %}
  {% if user.is_authenticated %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <script>
      var s = $('ul#shortlist');
      if (s.length) {
        s.sortable({
          update: function(e, ui) {
            // send the new order to the server
            string = s.sortable("serialize");
            url = "{% url 'vote:admin:shortlist_order' %}?" + string;
            $.ajax(url);
          }
        });
      }
    </script>
  {% endif %}
{% endblock %}
