{% extends "base.html" %}
{% load vote_tags %}

{% block content %}

  {% if user.is_authenticated and show.shortlist_set.exists %}
    <h2>shortlist</h2>
    <p class="subheading">{{ show.shortlisted|total_length }}</p>
    <ul id="shortlist">
      {% for track in show.shortlisted %}
        {% include "include/track.html" %}
      {% endfor %}
    </ul>
  {% endif %}
  {# XXX playlist #}

  {% if show.tracks_sorted_by_votes %}
    <h2>current requests</h2>
    <ul>
      {% include "include/tracklist.html" with tracks=show.tracks_sorted_by_votes exclude_listed=True %}
    </ul>

    <p class="aside">Want to vote for something else?</p>
  {% else %}
    <h2 class="message">No requests yet</h2>
  {% endif %}

  <p class="aside">Search, browse the <a href="{% url "vote:archive" %}">playlist archive</a> or just <a href="{% url "vote:roulette" %}">throw darts at the wall</a>.</p>

  {% if user.is_authenticated and show.discard_set.exists %}
    <h2>discarded</h2>
    <ul id="discarded">
      {% for discard in show.discard_set.all %}
        {% include "include/track.html" with track=discard.track %}
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}

{% block footer_scripts %}
  {% if user.is_authenticated %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <script>
      var s = $('ul#shortlist');
      var shortlistOrderURL = "{% url 'vote:admin:shortlist_order' %}";
      if (s.length) {
        s.sortable({
          update: function(e, ui) {
            $.post(shortlistOrderURL, s.sortable("serialize", {attribute: 'data-shortlist-pk'}));
          }
        });
      }
    </script>
  {% endif %}
{% endblock %}
