{% load vote_tags %}
<div id="selhead">
  {% if selection %}
    <div class="stuck">
      <details id="selection-details">
        <summary><h3>{{ selection|length }} track{{ selection|pluralize }} selected</h3></summary>

        <ul class="selection">
          {% for track in selection %}
            <li class="minitrack selected" data-pk="{{ track.pk }}">
              <div class="metadata">
                <p class="title">
                  <a href="{{ track.get_absolute_url }}">{{ track.title }}</a>
                </p>
                {% if track.role %}
                <p class="roles">
                  {% for role in track.role_details %}
                    <span class="role">{{ role }}</span>
                  {% endfor %}
                </p>
                {% endif %}
              </div>
              <p class="deselect"><a name="deselect" data-href="{% url "vote:js:clear_selection" %}">deselect</a></p>
            </li>
          {% endfor %}
        </ul>
      </details>

      {% if user.is_staff %}
        <p class="actions">
          <span><a href="{% url "vote:admin:shortlist_selection" %}">shortlist</a></span>
          <span><a href="{% url "vote:admin:discard_selection" %}">discard</a></span>
          <span><a href="{% url "vote:admin:reset_shortlist_discard_selection" %}">reset</a></span>
        </p>
        <p class="actions">
          <span><a href="{% url "vote:admin:hide_selection" %}">hide</a></span>
          <span><a href="{% url "vote:admin:unhide_selection" %}">unhide</a></span>
          <span><a href="{% url "vote:admin:archive_selection" %}">archive</a></span>
          <span><a href="{% url "vote:admin:archive_selection" %}">unarchive</a></span>
        </p>
      {% else %}
        {% if vote_url %}
          <p class="actions"><a class="mass_vote" href="{{ vote_url }}">request all</a></p>
        {% else %}
          <p class="refusal actions">too many tracks</p>
        {% endif %}
      {% endif %}
      <p class="actions minor">
        <span><a data-href="{% url "vote:js:clear_selection" %}" name="clear_selection">clear selection</a></span>
        {% if user.is_staff %}
          <span><a class="select_all" data-href="{% url "vote:js:select" %}">select all</a></span>
        {% endif %}
      </p>
    </div> <!-- stuck -->
  {% endif %}
</div> <!-- selhead -->
