{% load vote_tags %}
<div id="selhead">
  {% if selection %}
    <div class="stuck">
      <h3>{{ selection|length }} song{{ selection|pluralize }} selected</h3>
      {% if user.is_authenticated %}
        <p class="actions">
          <span><a href="{% url "vote:admin:shortlist_selection" %}">shortlist</a></span>
          <span><a href="{% url "vote:admin:discard_selection" %}">discard</a></span>
          <span><a href="{% url "vote:admin:reset_shortlist_discard_selection" %}">reset</a></span>
        </p>
      {% else %}
        {% if vote_url %}
          <p class="actions"><a class="mass_vote" href="{{ vote_url }}">vote for all</a></p>
        {% else %}
          <p class="refusal actions">too many tracks</p>
        {% endif %}
      {% endif %}
      <p class="actions minor">
        <span><a data-href="{% url "vote:js:clear_selection" %}" name="clear_selection">clear selection</a></span>
        {% if user.is_authenticated %}
          <span><a class="select_all" data-href="{% url "vote:js:select" %}">select all</a></span>
        {% endif %}
      </p>
    </div> <!-- stuck -->
  {% endif %}
</div> <!-- selhead -->

{% for track in selection %}
<ul class="selection">
  <li class="minitrack selected" data-pk="{{ track.pk }}">
    <div class="metadata">
      <p class="title">
        <a href="{{ track.get_absolute_url }}">{{ track.title }}</a>
      </p>
      {% if track.role %}
      <p class="role">
        {{ track.role }}
      </p>
      {% endif %}
    </div>
    <p class="deselect"><a data-href="{% url "vote:js:clear_selection" %}">deselect</a></p>
  </li>
</ul>
{% endfor %}
