{% extends parent %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h2 class=message>{{ title }}</h2>

  <p class="aside">Please include as much information about the track you want added as possible. We'll add the song as soon as we can, but the process takes time and obscure songs take longer!</p>

  <form method="post" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="submit">
    <p class="aside">Please note: Neko Desu is an <strong>anime music radio show</strong>. If the song you're requesting does not feature in an anime, it will not be added to the library.</p>
  </form>

  <div class="markdown">
    {{ words|safe }}
  </div>
{% endblock %}
