{% extends parent %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="markdown">
    <h1 class="message">{{ title }}</h1>

    {{ words|safe }}
  </div>

  <h2 class="message">Submit your request</h2>

  <p class="aside">Please include as much information about the track you want added as possible. We'll add the song as soon as we can, but the process takes time and obscure songs take longer!</p>

  <form method="post" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="submit">
  </form>

{% endblock %}
