{% extends parent %}

{% block title %}{{ mode_name }} roulette{% endblock %}

{% block content %}

  <h2>roulette</h2>
  <p class="subheading roulette-mode-switch">
    {% for slug, name in modes %}
      <span class="roulette-{{ slug }}">
        {% if mode == slug %}
          {{ name }}
        {% else %}
          <a href="{% url "vote:roulette" mode=slug %}">{{ name }}</a>
        {% endif %}
      </span>
    {% endfor %}
  </p>

  <ul class="tracks">
    {% include "include/tracklist.html" %}
  </ul>

  <p class="aside"><a href="{% url "vote:roulette" mode=mode %}">
    {% if mode == "pro" %}
      well, i am a pro after all<br/>
      i guess i can wait until next week for another option
    {% else %}
      these are all terrible
    {% endif %}
  </a></p>

{% endblock %}
