{% extends parent %}

{% block content %}

  <h2>search results</h2>
  <p class="subheading">{{ query }}</p>

  {% if anime_suggestions %}
    <div class="anime-suggestions">
      <p>matching anime:</p>
      <ul>
        {% for anime_suggestion in anime_suggestions %}
          <li>
            <a href="{% url "vote:anime" anime=anime_suggestion %}">
              {{ anime_suggestion }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <ul class="tracks">
    {% include "include/tracklist.html" %}
  </ul>

  {% include "include/paginator.html" %}

  <p class="aligned everything">Can't find what you're looking for? <a href="{% url "vote:request_addition" %}?q={{ query|urlencode }}">Get it added to the library</a>!</p>

{% endblock %}
