{% extends "base.html" %}

{% block content %}

<h2 class="heading">playlist for {{ this_show|date:"F"|lower }}&nbsp;{{this_show|date:"jS, Y" }}</h2>
<p class="subheading">&mdash; {{ tracks_len }} &mdash;</p>
{% if tracks_added_this_week %}
<p class="subheading"><a href="/added/{{ this_show|date:"d-m-Y" }}/">{{ tracks_added_this_week }} track{{ tracks_added_this_week|pluralize }} added this week</a></p>
{% endif %}
<p class="subheading">
{% if prev_show %}
&lt; <a href="/show/{{ prev_show|date:"d-m-Y" }}/">{{ prev_show|date:"d-m-Y" }}</a>
{% else %}
&lt; —
{% endif %}
|
{% if next_show %}
<a href="/show/{{ next_show|date:"d-m-Y" }}/">{{ next_show|date:"d-m-Y" }}</a> &gt;
{% else %}
— &gt;
{% endif %}
</p>

{% include "tracklist.html" %}

{% if denied %}
<div class="shortlist" id="denied">
<h3 class="heading">denied</h3>
{% for track in denied %}
    {% include "trackrow.html" %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}
