{% extends parent %}

{% block title %}{{ show.showtime|date:"F"|lower }} {{ show.showtime|date:"jS Y" }}{% endblock %}

{% block content %}
  <h2>playlist for {{ show.showtime|date:"F"|lower }}&nbsp;{{ show.showtime|date:"jS Y" }}</h2>
  <p class="subheading">
    &lt;
    {% if show.prev %}
      <a href="{{ show.prev.get_absolute_url }}">{{ show.prev.showtime|date:"Y-m-d" }}</a>
    {% else %}
      —
    {% endif %}
    · <a href="{% url "vote:archive" %}">all shows</a> ·
    {% if show.next and show.next.has_ended %}
      <a href="{{ show.next.get_absolute_url }}">{{ show.next.showtime|date:"Y-m-d" }}</a>
    {% else %}
      —
    {% endif %}
    &gt;
  </p>

  {% if show.revealed %}
    <p class="subheading"><a href="{{ show.get_added_url }}">{{ show.revealed|length }} track{{ show.revealed|pluralize }} added this week</a></p>
  {% endif %}

  {% if show.cloudcasts %}
    <div class="cloudcasts">
      <h3>listen on mixcloud</h3>
      {% for cloudcast in show.cloudcasts %}
        <p class="subheading"><a href="{{ cloudcast.url }}">{{ cloudcast.name }}</a></p>
      {% endfor %}
    </div>
  {% endif %}

  <ul class="tracks">
    {% include "include/tracklist.html" with tracks=show.playlist vote_show=show %}
  </ul>
{% endblock %}
