{% extends parent %}

{% block title %}{{ show.showtime|date:"F"|lower }} {{ show.showtime|date:"jS Y" }}{% endblock %}

{% block content %}

  <h2>playlist for {{ show.showtime|date:"F"|lower }}&nbsp;{{ show.showtime|date:"jS Y" }}</h2>
  <p class="subheading">
    {% if show.next and show.next.has_ended %}
      <a href="{{ show.next.get_absolute_url }}">« {{ show.next.showtime|date:"Y-m-d" }}</a>
    {% else %}
      <a href="{% url "vote:index" %}">« current</a>
    {% endif %}

    · <a href="{% url "vote:archive" %}">all shows</a> ·

    {% if show.prev %}
      <a href="{{ show.prev.get_absolute_url }}">{{ show.prev.showtime|date:"Y-m-d" }} »</a>
    {% else %}
      no older show
    {% endif %}
  </p>

  {% if show.revealed %}
    <p class="subheading"><a href="{{ show.get_revealed_url }}">{{ show.revealed|length }} track{{ show.revealed|pluralize }} added this week</a></p>
  {% endif %}

  {% include "include/show_message.html" %}

  {% if show.cloudcasts == None %}
    <div class="cloudcasts">
      <p>There was a problem connecting to the Mixcloud API; I have no idea if this show is archived.</p>
    </div>
  {% elif show.cloudcasts %}
    <div class="cloudcasts">
      <h3>listen on mixcloud</h3>
      {% for cloudcast in show.cloudcasts %}
        <p class="subheading"><a href="{{ cloudcast.url }}">{{ cloudcast.name }}</a></p>
      {% endfor %}
    </div>
  {% endif %}

  <ul class="tracks">
    {% include "include/tracklist.html" with tracks=show.playlist vote_show=show %}
  </ul>

{% endblock %}
