{% extends "base.html" %}
{% load vote_tags cache %}

{% block title %}stats{% endblock %}

{% block content %}

  <h2 id="most-successful-users">most successful users</h2>
  <p class="subheading">in the last six months</p>
  <table class="stats users">
    <tr>
      <th class="summary"><span>user</span></th>
      <th class="value">batting average</th>
    </tr>

    {% for user in batting_averages|slice:":10" %}
      <tr class="stat">
        <td class="summary">
          <img alt="{{ user.name }}" src="{{ user.user_image }}">
          <p class="name">{{ user.name }}</p>
          <p><a class="screen_name" href="{{ user.get_absolute_url }}">
            @{{ user.screen_name }}
          </a></p>
        </td>
        <td class="value">
          {{ user.batting_average|percent }}
        </td>
      </tr>
    {% endfor %}
  </table>

  <h2 id="least-successful-users">least successful users</h2>
  <p class="subheading">in the last six months</p>
  <table class="stats users">
    <tr>
      <th class="summary"><span>user</span></th>
      <th class="value">batting average</th>
    </tr>

    {% for user in batting_averages|slice:":-10:-1" %}
      <tr class="stat">
        <td class="summary">
          <img alt="{{ user.name }}" src="{{ user.user_image }}">
          <p class="name">{{ user.name }}</p>
          <p><a class="screen_name" href="{{ user.get_absolute_url }}">
            @{{ user.screen_name }}
          </a></p>
        </td>
        <td class="value">
          {{ user.batting_average|percent }}
        </td>
      </tr>
    {% endfor %}

  </table>

  <h2 id="most-popular-tracks">most popular tracks</h2>
  <p class="subheading">in the last six months</p>
  <table class="stats tracks">
    <tr>
      <th class="summary"><span>track</span></th>
      <th class="value">votes</th>
    </tr>

    {% for track, count in popular_tracks|slice:":10" %}
      <tr class="stat">
        <td class="summary">
          <p class="artist"><a href="{# XXX artist URL #}">{{ track.title }}</a></p>
          <p class="title"><a href="{{ track.get_absolute_url }}">{{ track.title }}</a></p>
          <p class="role">{{ track.role }}</p>
        </td>
        <td>
          {{ count }}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
