{% extends "base.html" %}
{% load vote_tags cache %}

{% block content %}

  <h2 id="most-successful-users">most successful users</h2>
  <p class="subheading">in the last six months</p>
  <table class="stats users">
    <tr>
      <th class="summary"><span>user</span></th>
      <th class="value">batting average</th>
    </tr>
    {% for user in batting_averages|slice:":10" %}
      <tr class="user">
        <td class="summary">
          <img alt="{{ user.name }}" src="{{ user.user_image }}">
          <p class="name">{{ user.name }}</p>
          <p><a class="screen_name" href="{{ user.get_absolute_url }}">
            @{{ user.screen_name }}
          </a></p>
        </td>
        <td class="value">
          {{ user.batting_average|percent }}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
