{% extends parent %}
{% load vote_tags %}

{% block title %}{{ track.title }}{% endblock %}

{% block content %}

<ul class="tracks">
  {% include "include/track.html" %}
</ul>

<p class="aside"><a href="{{ track.get_report_url }}">report bad metadata</a></p>

<p class="aside">added to the library on <a href="{{ track.show_revealed.get_revealed_url }}">{{ track.revealed|date:"F"|lower }}&nbsp;{{ track.revealed|date:"jS, Y" }}</a></p>

{% for role in track.role_details %}
  {% include "include/anime.html" with anime=role.anime_data %}
{% endfor %}

{% if track.plays %}
  <h3>
    {{ track.plays|length }} {{ track.plays|length|pluralize:"play,plays" }} on record:
  </h3>
  <ul class="plays">
    {% for play in track.plays %}
      <li>
        <a href="{{ play.show.get_absolute_url }}">
          {{ play.date|date:"F"|lower }} {{ play.date|date:"jS, Y" }}
        </a>
        {% with play|weeks_ago as weeks_ago %}
          {% if weeks_ago == 0 %}
            (this week)
          {% elif weeks_ago == 1 %}
            (last week)
          {% else %}
            ({{ weeks_ago }} week{{ weeks_ago|pluralize }} ago)
          {% endif %}
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="aside">no plays on record</p>
{% endif %}

{% endblock %}
