{% extends parent %}
{% load vote_tags %}

{% block title %}{{ track.title }}{% endblock %}

{% block twitter_card %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nkdsu">
  <meta name="twitter:title" content="{{ track.title }}">
  <meta name="twitter:description" content="{{ track.role }}.{% if track|votes_for:vote_show %} Requested by {% for vote in track|votes_for:vote_show %}{% if forloop.first %}{% elif forloop.last %} and {% else %}, {% endif %}{{ vote.either_name }}{% endfor %}.{% endif %}">
{% endblock %}

{% block content %}

<ul class="tracks">
  {% include "include/track.html" with show_all_metadata=True %}
</ul>

<p class="aside"><a href="{{ track.get_report_url }}">report bad metadata</a></p>

<p class="aside">added to the library on <a href="{{ track.show_revealed.get_revealed_url }}">{{ track.revealed|date:"F"|lower }}&nbsp;{{ track.revealed|date:"jS, Y" }}</a></p>

{% if track.plays %}
  <h3>play history</h3>
  <ul class="plays">
    {% for play in track.plays %}
      <li>
        <a href="{{ play.show.get_absolute_url }}">{{ play.date|date:"F"|lower }} {{ play.date|date:"jS, Y" }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="aside">no plays on record</p>
{% endif %}

{% endblock %}
