{% extends "base.html" %}
{% load vote_tags %}

{% block title %}{{ track.derived_title|lower }}{% endblock %}

{% block content %}

<ul>
  {% include "include/track.html" %}
</ul>

<p class="aside">added to the library on <a href="{{ track.get_added_url }}">{{ track.added|date:"F"|lower }}&nbsp;{{ track.added|date:"jS, Y" }}</a></p>

{% if track.plays %}
  <h3>play history</h3>
  <ul class="plays">
    {% for play in track.plays %}
      <li>
        <a href="{{ play.show.get_absolute_url }}">{{ play.date|date:"F"|lower }} {{ play.date|date:"jS, Y" }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="aside">no plays on record</p>
{% endif %}

{% endblock %}
