{% extends parent %}
{% load vote_tags %}

{% block content %}
<h2>bad trivia</h2>
<div id="trivia">
  {% for request in requests %}
    <div class="trivia{% if request.successful %} successful{% endif %}">
      {% with request.struct as struct %}
      <p class="created">{{ request.created|when }}{% if struct.contact %}, {{ struct.contact }}{% endif %}</p>
        <div class="exchange">
          <p class="question">{{ struct.trivia_question }}</p>
          <p class="answer">{{ struct.trivia }}</p>
        </div>
      {% endwith %}
    </div>
  {% endfor %}
</div>
{% endblock %}
