{% extends parent %}
{% load vote_tags cache %}

{% block title %}{{ voter.name }}{% endblock %}

{% block content %}

<div class="user">
  <div class="user_meta">
    <h2>{{ voter.name }}</h2>
    <p class="subheading">
      <a href="{{ voter.twitter_url }}">
        @{{ voter.screen_name }}
      </a>
    </p>
    {% if voter.batting_average == None %}
      <p class="subheading">needs to vote more</p>
    {% else %}
      <p class="subheading">batting at {{ voter.batting_average|percent }} over the last six months</p>
    {% endif %}

    {% if voter.streak %}
      <p class="subheading">voted for the last {{ voter.streak }} consecutive show{{ voter.streak|pluralize }}</p>
    {% endif %}

    {% if user.is_authenticated %}
      <p class="subheading"><a href="{{ voter.get_toggle_abuser_url }}">
        {% if voter.is_abuser %}
          redeem {{ voter }}
        {% else %}
          condemn {{ voter }}
        {% endif %}
      </a></p>
    {% endif %}

    <p class="subheading">
      <a class="avatar" href="{{ voter.twitter_url }}">
        <img class="avatar" src="{{ voter.user_image }}" alt="{{ voter.name }}"></img>
      </a>
    </p>
  </div>

  <h2>votes</h2>
  <ul class="user-votes">
    {% cache 300 user_detail:votes voter.user_id %}
      {% for vote in voter.votes %}
        <li class="vote">
          <p class="when"><a href="{{ vote.twitter_url }}">{{ vote.date|when }}</a></p>
          {% if vote.content %}
            <p class="content">‘{{ vote.content }}’</p>
          {% endif %}
          <ul class="vote-tracks">
            {% for track in vote.tracks.all %}
              <li class="vote-track">
                <p class="artist"><a href="{{ track.get_artist_url }}">{{ track.artist }}</a></p>
                <p class="title"><a href="{{ track.get_absolute_url }}">{{ track.title }}</a></p>
                {% if track.role %}
                  <p class="role">{{ track.role }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    {% endcache %}
  </ul>
</div>

{% endblock %}
