{% extends parent %}

{% block title %}reset your password{% endblock %}

{% block content %}
  <h2>reset message sent</h2>

  <div class="markdown">
    <p>
      we have sent you an email with instructions for resetting your password, if an account exists with that address.
      you should receive it soon.
    </p>

    <p>
      if you don't get an email, please check that you typed your email address right, and check your spam folder
    </p>

    <p><a href="{% url "vote:index" %}">go back home?</a></p>
  </div>
{% endblock %}
