{% load vote_tags %}
<li class="vote
  {% if vote.content %}content{% endif %}
  {% if vote.birthday %}birthday{% endif %}
  {% if not vote.is_manual and vote.twitter_user.is_abuser %}abuser{% endif %}
  {% if user.is_authenticated %}
    {% if vote.twitter_user.is_new %}new-user{% endif %}
    {% if vote.twitter_user.is_placated %}placated{% endif %}
  {% endif %}
  "
  >
  <a class="vote-link" {% if not vote.is_manual %}href="{{ vote.twitter_user.get_absolute_url }}"{% endif %}>
    {% if vote.hat %}
      <i class="hat fa fa-{{ vote.hat.badge_info.icon }}"></i>
    {% endif %}

    <img class="avatar thumb" src="{{ vote.get_image_url }}" alt="{{ vote.twitter_user.screen_name }}"/>

    <div class="deets">
      <img class="avatar" src="{{ vote.get_image_url }}" alt="{{ vote.twitter_user.screen_name }}"/>

      {% if vote.is_manual %}
        <p class="meta full_name">{{ vote.name }}</p>
        <p class="meta kind">via {{ vote.kind }}</p>
      {% else %}
        <p class="meta full_name">{{ vote.twitter_user.name }}</p>
        <p class="meta screen_name">@{{ vote.twitter_user.screen_name }}</p>
      {% endif %}

      <p class="meta when">{{ vote.date|when }}</p>

      {% if vote.content %}<p class="text">{{ vote.content|safe }}</p>{% endif %}

      {% if vote.hat %}
        <p class="hat-info">
          <i class="fa fa-{{ vote.hat.badge_info.icon }}"></i>
          <em>{{ vote.hat.badge_info.summary }}</em>
        </p>
      {% endif %}

    </div>
  </a>
</li>
