{% load vote_tags %}

{% if notes %}
  <ul class="notes">
    {% for note in notes %}
      <li class="
        {% if user.is_staff or user|is_elf %}
          {% if note.public %}
            public-warn
          {% endif %}
          {% if note.show %}
            transient
          {% endif %}
        {% endif %}
      ">
        <span class="note">{{ note }}</span>

        {% if user.is_staff %}
          <span class="admin">
            <span><a href="{% url "vote:admin:remove_note" pk=note.pk %}">✗</a></span>
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
