<div id="footer">
  <a id="stamp" target="_blank" href="https://vscary.co"><img alt="the very scary scenario logo" src="https://vscary.co/logo-grey.svg"></a>

  <form class="credit" id="dark-mode-settings" method="post" action="{% url "vote:set-dark-mode" %}">
    {% csrf_token %}
    <span><button class="link" name="mode" value="light">light</button></span>
    <span><button class="link" name="mode" value="dark">dark</button></span>
    <span><button class="link" name="mode" value="system">system</button></span>
  </form>

  <p class="credit">
    {% if user.is_staff %}
      <span><a href="{% url "admin:index" %}">admin</a></span>
      <span><a href="{% url "vote:admin:hidden" %}">hidden tracks</a></span>
      <span><a href="{% url "vote:admin:inudesu" %}">inu desu</a></span>
      <span><a href="{% url "vote:admin:artless" %}">artless</a></span>
      <span><a href="{% url "vote:admin:upload_library" %}">update library</a></span>
      <span><a href="{% url "vote:admin:bad_trivia" %}">bad trivia</a></span>
    {% else %}
      <span><a href="{% url "vote:info" %}">help</a></span>
      <span><a href="{% url "vote:privacy" %}">privacy</a></span>
      <span><a href="{% url "vote:tos" %}">terms of service</a></span>
      <span><a href="{% url "vote:api_docs" %}">api</a></span>
      <span><a target="_blank" href="https://github.com/very-scary-scenario/nkd.su">source</a></span>
      <span><a target="_blank" href="https://github.com/very-scary-scenario/nkd.su/issues/new">report a bug</a></span>
    {% endif %}
  </p>

  <p class="credit">
    {% if user.is_authenticated %}
      <span><a href="{% url "vote:browse_roles" %}">all roles</a></span>
      <span><a href="{% url "vote:admin:requests" %}">requests</a></span>
      <span><a href="{% url "password_change" %}">change password</a></span>
      <span><a href="{% url "logout" %}?next={{ request.path|urlencode }}{% if request.META.QUERY_STRING %}{{ "?"|urlencode }}{{ request.META.QUERY_STRING|urlencode }}{% endif %}">log out</a></span>
    {% else %}
      <span><a href="{% url "login" %}?next={{ request.path|urlencode }}{% if request.META.QUERY_STRING %}{{ "?"|urlencode }}{{ request.META.QUERY_STRING|urlencode }}{% endif %}">log in</a></span>
    {% endif %}
  </p>
</div>
