{% load vote_tags %}
{% load cache %}

{% cache 20 track track.pk vote_show.pk user.is_authenticated %}
  <li class="track
    {% if track.eligible %}
      eligible
    {% else %}
      ineligible
    {% endif %}
    {% if user.is_authenticated or track.eligible %}
      selectable
    {% else %}
      unselectable
    {% endif %}
    {% if track.is_new %}
      new
    {% endif %}
    {% if track.inudesu %}
      inudesu 
    {% endif %}
    "
    data-pk="{{ track.pk }}"
    data-shortlist-pk="shortlist_{{ track.pk }}">
    {% if not user.is_authenticated %}
      <span class="report"><a href="{{ track.get_report_url }}">bad metadata?</a></span>
    {% endif %}

    <div class="metadata">
      <p class="artist">
        {% if track.artist_has_page %}
          <a href="{{ track.get_artist_url }}">{{ track.artist }}</a>
        {% else %}
          {{ track.artist }}
        {% endif %}
      </p>
      <p class="title">
        <a href="{{ track.get_absolute_url }}">{{ track.title }}</a>
      </p>

      <p class="meta">
        {% if track.role %}
          <span class="role">{{ track.role }}</span>
        {% endif %}

        {% if track.last_play %}
          <span class="last_played">played <a href="{{ track.last_play.show.get_absolute_url }}">
            {% if track.weeks_since_play == 0 %}
              this week
            {% elif track.weeks_since_play == 1 %}
              last week
            {% else %}
              {{ track.weeks_since_play }} weeks ago
            {% endif %}
          </a></span>
        {% endif %}

        <span class="length">{{ track.length_str }}</span>

        {% if user.is_authenticated %}
          {% include "include/notes.html" with notes=track.notes %}
        {% else %}
          {% include "include/notes.html" with notes=track.public_notes %}
        {% endif %}
      </p>

      {% if track.ineligible and track.ineligible != "played last week" and track.ineligible != "played this week" %}
        <p class="refusal">{{ track.ineligible }}</p>
      {% endif %}
    </div>
    <div class="voting">
      <ul class="votes">
        {% for vote in track|votes_for:vote_show %}
          <li class="vote {% if vote.content %}content{% endif %}">
          <a {% if not vote.is_manual %}href="{{ vote.twitter_user.get_absolute_url }}"{% endif %}>
              <img class="avatar thumb" src="{{ vote.get_image_url }}" alt="{{ vote.twitter_user.screen_name }}"/>
              <div class="deets">
                <img class="avatar" src="{{ vote.get_image_url }}" alt="{{ vote.twitter_user.screen_name }}"/>
                {% if vote.is_manual %}
                  <p class="meta full_name">{{ vote.name }}</p>
                  <p class="meta kind">via {{ vote.kind }}</p>
                {% else %}
                  <p class="meta full_name">{{ vote.twitter_user.name }}</p>
                  <p class="meta screen_name">@{{ vote.twitter_user.screen_name }}</p>
                {% endif %}
                <p class="meta when"> {{ vote.date|when }}
                {% if vote.content %}<p class="text">{{ vote.content|safe }}</p>{% endif %}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if user.is_authenticated %}
        <p class="admin">
          <span><a href="{% url "vote:admin:play" pk=track.pk %}">play</a></span>
          <span><a href="{% url "vote:admin:manual_vote" pk=track.pk %}">manual vote</a></span>
          {% if track.ineligible %}
            <span><a href="{% url "vote:admin:unblock" pk=track.pk %}">unblock</a></span>
          {% elif track.eligible %}
            <span><a href="{% url "vote:admin:block" pk=track.pk %}">block</a></span>
            <span><a href="{% url "vote:admin:block_with_reason" pk=track.pk %}?reason=announced">announce</a></span>
          {% endif %}
        </p>
        <p class="admin">
          {% if track.hidden %}
            <span><a href="{% url "vote:admin:unhide" pk=track.pk %}">unhide</a></span>
          {% else %}
            <span><a href="{% url "vote:admin:hide" pk=track.pk %}">hide</a></span>
          {% endif %}
          {% if track in current_show.discarded or track in current_show.shortlisted %}
            <span><a href="{% url "vote:admin:reset" pk=track.pk %}">reset shortlist/discard</a></span>
          {% else %}
            <span><a href="{% url "vote:admin:shortlist" pk=track.pk %}">shortlist</a></span>
            <span><a href="{% url "vote:admin:discard" pk=track.pk %}">discard</a></span>
            <span><a href="{% url "vote:admin:make_note" pk=track.pk %}">add note</a></span>
          {% endif %}
        </p>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
      <div class="invitation">
        {{ track|votes_for:vote_show|length }}
      </div>
    {% elif track.eligible and track|votes_for:vote_show %}
      <div class="invitation plusone"><a href="{{ track.get_vote_url }}">
        +1
      </a></div>
    {% elif track.eligible %}
      <div class="invitation request"><a href="{{ track.get_vote_url }}">
        request this song
      </a></div>
    {% else %}
      <div class="invitation request"></div>
    {% endif %}
  </li>
{% endcache %}
