{% load vote_tags %}
<li class="standalone-vote
  {% if vote.content %}content{% endif %}
  {% if vote.is_twitter and vote.twitter_user.is_abuser %}abuser{% endif %}"
  >

  <ul class="tracks">
    {% for track in vote.tracks.all %}
      {% include "include/nanotrack.html" with tiny=True %}
    {% endfor %}
  </ul>


  <p class="text">
    <span class="meta when">
      {% if vote.is_twitter %}
        <a href="{{ vote.twitter_url }}">{{ vote.date|when }}</a>
      {% else %}
        {{ vote.date|when }}
      {% endif %}
    </span>
    {{ vote.content|safe }}
  </p>
</li>
