@import "../fa/scss/solid.scss";
@import "_mixins.scss";

#category-search-form {
  input[type=text] {
    @include search-field();
    margin: .5em auto;
  }
}

.group-buttons {
  text-align: center;

  a {
    display: inline-block;
    padding: .2em .5em;
  }
}

.browsable-groups {
  section.browsable-group {
    h3 {
      position: sticky;
      top: 0;

      span {
        z-index: 2;
        display: inline-block;
        padding: 0 1em .2em;
        margin: 0;
        border-radius: 0 0 .5em .5em;
        background-color: $bg;
        @include noise(!important);
      }
    }

    ul {
      columns: 15em auto;

      li {
        margin-bottom: .5em;
        break-inside: avoid-column;
        display: inline-block;  // for firefox
        width: 100%;  // to prevent multiple items appearing on one line
      }
    }
  }

  &[data-category-name="years"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .browsable-group {
      ul {
        columns: auto;
        width: 6em;

        li {
          text-align: center;
        }
      }
    }
  }

  &.searchable {
    .browsable-group {
      display: none;

      &[data-contains-matches~=true] {
        display: block;
      }

      > ul > li {
        display: none;

        &.matched {
          display: block;

          span.fragment {
            background-color: fade($hl, 40%);
            color: mix($fg, $hl, 70%);
          }
        }
      }
    }
  }
}

@include dark {
  .browsable-groups section.browsable-group h3 span {
    @include invert();
  }
};

@include dark {
  .browsable-groups.searchable .browsable-group > ul > li.matched span.fragment {
    color: mix($bg, $hl, 70%);
  }
};

ul.browsable-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  li {
    text-shadow: none;
    font-size: 3em;
    position: relative;

    a {
      display: block;
      position: relative;
      box-sizing: border-box;
      background-color: $hl;
      @include noise();
      color: $fg;
      min-width: 20rem;
      width: 25vw;
      max-width: 30rem;
      text-align: right;
      padding: 3em .2em 0;
      margin: 0 .25em 1em;
      font-weight: bold;
      overflow: hidden;
      border-radius: .2em;
      
      span {
        display: inline-block;
        position: relative;
        z-index: 2;
        transform: rotate(-2deg);
      }

      &::before {
        @extend .fas;
        transform: rotate(13deg);
        font-size: 6em;
        position: absolute;
        z-index: 1;
        top: -.2em;
        left: -.1em;
        opacity: 0.15;
        color: $bg;
        @include dark { color: $fg !important; }
      }

      &:hover, &:focus {
        background-color: $fg;
        text-shadow: none;
        color: $hl;

        @include dark {
          color: $hl !important;
          background-color: $bg;
        }
      }
    }

    &::after {
      content: attr(title);
      font-size: .3em;
      position: absolute;
      right: 1em;
      bottom: 1.8rem;
    }

    &[data-category=archive] a::before { content: $fa-var-archive; }
    &[data-category=anime] a::before { content: $fa-var-tv; }
    &[data-category=artists] a::before { content: $fa-var-microphone; }
    &[data-category=composers] a::before { content: $fa-var-pen-nib; }
    &[data-category=years] a::before { content: $fa-var-calendar-alt; }
  }
}
