<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Lora:700,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Gloria%20Hallelujah" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">
    <title>
      nkd.su | {% block title %}{% if title %}{{ title }}{% else %}a neko desu request robot{% endif %}{% endblock %}
    </title>
  </head>
  <body>

    <h1><a href="/">nkd.su</a></h1>
    {% if on_air %}
    <p class="subtitle">on air! listen live at <a href="http://thisisthecat.com">the cat</a>
    {% elif show %}
    <p class="subtitle">taking requests for {{ show|date:"F"|lower }}&nbsp;{{ show|date:"jS"|lower }}</p>
    {% else %}
      <p class="subtitle">a neko desu request robot</p>
    {% endif %}

    <form class="search_form" name="search" action="/" method="post">{% csrf_token %}
      <a class="roulette" href="/roulette/">surprise me</a>
      <p>
      <input id="query" type="text" name="q" value="{% block query %}{% endblock %}">
      </p>
      <p>
      <input id="submit" type="submit" value="search">
      </p>
    </form>
    
    {% if tracks %}
    <!-- <p class="instructions">click a title to request/upvote a track via twitter</p> -->
    {% endif %}

    {% block content %}{% endblock %}

    <div id="footer">
      <!-- <p class="credit">listen to <a href="http://www.thisisthecat.com/index.php/neko-desu">neko desu</a> on <a href="http://thisisthecat.com">the cat</a> every saturday from 9&ndash;11 PM</p> -->
      <p class="credit"><a href="/info/">what?</a></p>
      <p class="credit"><a href="/show/">playlist</a></p>
      <p class="credit"><a href="http://twitter.com/search/?q=%23NekoDesu">#nekodesu</a></p>

      {% if user.is_authenticated %}
      <p class="credit"><a href="/logout/">log out</a></p>
      {% endif %}
    </div>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </body>
</html>
