<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
    <link href="http://fonts.googleapis.com/css?family=Bitter:700,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Gloria%20Hallelujah" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">
    <title>
      nkd.su | {% block title %}{% if title %}{{ title }}{% else %}a neko desu request robot{% endif %}{% endblock %}
    </title>
  </head>
  <body>
    <div id="everything">
      <div id="content">
        <h1><a href="/">nkd.su</a></h1>
        {% if on_air %}
        <p class="subtitle">on air! listen live at <a target="_blank" href="http://thisisthecat.com">the cat</a>
        {% elif show %}
        <p class="subtitle">taking requests for {{ show|date:"F"|lower }}&nbsp;{{ show|date:"jS"|lower }}</p>
        {% else %}
          <p class="subtitle">a neko desu request robot</p>
        {% endif %}

        <form id="search" class="search_form" name="search" action="/" method="post">{% csrf_token %}
          <a class="roulette" href="/roulette/">surprise me</a>
          <p>
          <input id="query" type="text" name="q" value="{% block query %}{% endblock %}">
          </p>
          <p>
          <input id="submit" type="submit" value="search">
          </p>
        </form>
        
        {% if tracks %}
        <!-- <p class="instructions">click a title to request/upvote a track via twitter</p> -->
        {% endif %}

        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        {% if user.is_authenticated %}
        <p class="credit"><a href="/admin/">admin</a> | <a href="/logout/">log out</a></p>
        {% else %}
        <a id="stamp" target="_blank" href="http://musicfortheblind.co.uk"><img title="music for the blind" src="http://d.bldm.us/stamp.png"></a>
        {% endif %}
        <p class="credit"><a href="/info/">help</a> | <a target="_blank" href="https://github.com/colons/nkdsu">source</a></p>
        <p class="credit"><a target="_blank" href="http://thisisthecat.com/">the cat</a> | <a target="_blank" href="http://thisisthecat.com/index.php/neko-desu">neko desu</a></p>
      </div>
    </div>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </body>
</html>
