<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css?v=buttons4ie">
    <link href="http://fonts.googleapis.com/css?family=Bitter:700,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Gloria%20Hallelujah" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/select.js?v=buttons" type="text/javascript"></script>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    <title>
      nkd.su | {% block title %}{% if title %}{{ title }}{% else %}a neko desu request robot{% endif %}{% endblock %}
    </title>
  </head>
  <body>
    {% csrf_token %}
    <div id="everything">
      <div id="content">
        <p id="disclaimer">This site is a work in progress. Things are <a href="https://github.com/colons/nkdsu/commits/master">changing</a>. If you have feedback, please do not hesitate to pester <a href="http://twitter.com/mftb">myself</a> or <a href="http://twitter.com/theshillito">Peter</a> on Twitter or, if you're on GitHub, <a href="https://github.com/colons/nkdsu/issues">submit a bug</a>.</p>
        <div id="header">
          <div id="title">
            <div id="beta">[beta]</div>
            <h1><a href="/">nkd.su</a></h1>
            {% if on_air %}
            <p class="subtitle">on air! listen live at <a target="_blank" href="http://thisisthecat.com">the cat</a>
            {% elif show %}
            <p class="subtitle">taking requests for {{ show|date:"F"|lower }}&nbsp;{{ show|date:"jS"|lower }}</p>
            {% else %}
            <p class="subtitle">a neko desu request robot</p>
            {% endif %}
          </div>
          <div id="search_div">
            <form id="search" class="search_form" name="search" action="/search" method="get">
              <a class="roulette" href="/roulette/">surprise me</a>
              <p>
              <input id="query" type="text" name="q" value="{% block query %}{% endblock %}">
              </p>
              <p>
              <input id="submit" type="submit" value="search">
              </p>
            </form>
          </div> <!-- search -->
        </div> <!-- header -->
        {% block content %}{% endblock %}
        {% if show %}
        <div id="selection"></div>
        {% endif %}
      </div>
      <div id="footer">
        {% if user.is_authenticated %}
        <p class="credit"><a href="/admin/">admin</a> | <a href="/upload/">update library</a> | <a href="/logout/">log out</a></p>
        {% else %}
        <a id="stamp" target="_blank" href="http://musicfortheblind.co.uk"><img title="music for the blind" src="http://d.bldm.us/stamp.png"></a>
        {% endif %}
        <p class="credit"><a href="/info/">help</a> | <a target="_blank" href="https://github.com/colons/nkdsu">source</a></p>
        <p class="credit"><a target="_blank" href="http://thisisthecat.com/">the cat</a> | <a target="_blank" href="http://thisisthecat.com/index.php/neko-desu">neko desu</a></p>
      </div>
    </div>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </body>
</html>
