{% extends "base.html" %}

{% block content %}

{% if new_tracks and not user.is_authenticated %}
    <p class="aside new_tracks"><a href="/recent/">{{ new_tracks }} new track{{ new_tracks|pluralize }}</a> this week</p>
{% endif %}

{% if apocalypse %}

{% endif %}

{% if shortlist %}
<div class="shortlist" id="shortlist">
<h3 class="heading">shortlist</h3>
<p class="minor subheading">&mdash; {{ shortlist_len }} &mdash;</p>
    {% for track in shortlist %}
    {% include "trackrow.html" %}
    {% endfor %}
</div>
{% endif %}

{% if tracks %}
{% if playlist %}
<div class="current">
{% endif %}
<h2 class="heading">current requests</h2>
<p class="subheading">{{ week.count_votes }} request{{ week.count_votes|pluralize }} from {{ week.count_voters }} {{ week.count_voters|pluralize:"person, people" }}</p>
<p class="subheading">&mdash; {{ tracks_len }} &mdash;</p>
{% include "tracklist.html" %}
{% if playlist %}
</div>
<div class="playlist today">
<h2 class="heading">played</h2>
<p class="subheading">&mdash; {{ playlist_len }} &mdash;</p>
{% include "playlist.html" %}
</div>
{% endif %}

<p class="aside">Want to vote for something else?</p>
{% else %}
<h2 class="message">No requests yet</h2>
{% endif %}
<p class="aside">Search, browse the <a href="/show/">playlist archive</a> or just <a href="/roulette/">throw darts at the wall</a>.</p>

{% if discard %}
<div class="shortlist" id="discard">
<h3 class="heading">discard</h3>
    {% for track in discard %}
    {% include "trackrow.html" %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}
