{% extends "base.html" %}

{% block content %}

{% if playlist %}
<div class="playlist today">
<h2 class="heading">played</h2>
<p class="subheading">&mdash; {{ playlist_len }} &mdash;</p>
{% include "playlist.html" %}
</div>
{% endif %}

{% if shortlist %}
<div class="shortlist {% if playlist %}limited{% endif %}" id="shortlist">
<h3 class="heading">shortlist</h3>
<p class="minor subheading">&mdash; {{ shortlist_len }} &mdash;</p>
    {% for track in shortlist %}
    {% include "trackrow.html" %}
    {% endfor %}
</div>
{% endif %}

{% if tracks %}
{% if playlist %}
<div class="current">
{% endif %}
<h2 class="heading">current requests</h2>
<p class="subheading">&mdash; {{ week.count_votes }} request{{ week.count_votes|pluralize }} - {{ tracks|length }} track{{ tracks|length|pluralize }} - {{ week.count_voters }} {{ week.count_voters|pluralize:"person, people" }} - {{ tracks_len }} &mdash;</p>
{% include "tracklist.html" %}
{% if playlist %}
</div>
{% endif %}

<p class="aside">Want to vote for something else?</p>
{% else %}
<h2 class="message">No requests yet</h2>
<p class="aside">And there won't be any, because peter is going on some kind of birthday rampage. Sorry about that.</p>
{% endif %}
<!-- <p class="aside">Search, browse the <a href="/show/">playlist archive</a> or just <a href="/roulette/">throw darts at the wall</a>.</p> -->

{% if discard %}
<div class="shortlist" id="discard">
<h3 class="heading">discard</h3>
    {% for track in discard %}
    {% include "trackrow.html" %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}
