{% extends "base.html" %}


{% block content %}
<h2 class=message>{{ title }}</h2>

<p class="aside">Please include as much information about the song you want as possible: artist, title, what show it's from, what role it fills in the show, which soundtrack it is on, etc.</p>
{% if form.errors %}
<p class="aside problems">problems!</p>
{% endif %}

<form class="reqeust" method="post" enctype="multipart/form-data" action=".">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="submit">
</form>

{% endblock %}
