<!-- {{ track.id }} -->
<div class="track {% if track.eligible %}eligible{% else %}ineligible{% endif %}">
  {% if track.ineligible %}
    <div class="disabled">
      [disabled]
    </div>
  {% endif %}
  <div class="metadata">
    <p class="artist"><a href="/artist/{{ track.artist|urlencode }}/">{{ track.artist }}</a></p>
    <p class="title">
    {% if track.eligible %}
      <a title="Vote for {{ track.derived_title }}" class="upvote" href="https://twitter.com/intent/tweet?text=@nkdsu%20{{ track.id }}">
      <span class="plusone">+1</span>
      {% endif %}
      <span class="title">{{ track.derived_title }}</span>
      {% if track.eligible %}
      </a>
    {% endif %}
    </p>


    {% if track.derived_role %}
      <p class="role">{{ track.derived_role }}</p>
    {% endif %}

    {% if track.last_played %}
      <p class="last_played">last played <a href="/show/{{ track.last_played|date:"d-m-Y" }}/">{{ track.last_played|date:"d-m-Y" }}</a>,
      {% if track.weeks_since_play == 1 %}
        last week
      {% else %}
        {{ track.weeks_since_play }} weeks ago</p>
      {% endif %}
    {% endif %}
    {% if user.is_authenticated and track.eligible %}
      <p class="peter"><a href="/played/{{ track.id }}/">now playing&hellip;</a></p>
      <p class="peter"><a href="/vote/{{ track.id }}/">add vote&hellip;</a></p>
    {% endif %}
    {% if user.is_authenticated and not track.eligible and track.undoable %}
      <p class="peter"><a href="/unplay/{{ track.id }}/">i didn't mean to play this</a></p>
    {% endif %}
    {% if track.ineligible %}
      <p class="refusal">{{ track.ineligible }}</p>
    {% endif %}
  </div>
  <div class="voters">
    {% for vote in track.votes %}
      <a target="_blank" class="voter" href="http://twitter.com/{{ vote.screen_name }}/status/{{ vote.tweet_id }}/">
        <img src="{{ vote.user_image }}" alt="{{ vote.screen_name }}">
          <div class="tweet_deets">
            <p class="full_name">{{ vote.name }}</p><p class="screen_name">@{{ vote.screen_name }}</p>
            {% if vote.content %}<p class="text">{{ vote.content|safe }}</p>{% endif %}
          </div>
      </a>
    {% endfor %}
    {% for vote in track.manual_votes %}
      <a class="voter manual {{ vote.kind }}{% if vote.anonymous %} anonymous{% endif %}" href="{% if vote.kind == 'tweet' and not vote.anonymous %}http://twitter.com/{{ vote.name }}{% else %}#{% endif %}">
        <img src="{{ STATIC_URL}}i/{{ vote.kind }}.png" alt="{{ vote.kind }}">
          <div class="tweet_deets">
          {% if not vote.anonymous or user.is_authenticated %}
            <span class="screen_name">{% if vote.kind == 'tweet' %}@{% endif %}{{ vote.name }}{% if vote.anonymous %} (anonymous){% endif %}</span>{% if vote.message %}:
            <span class="text">{{ vote.message }}</span>
            {% endif %}
          {% else %}
            <span class="text">[anonymous request]</span>
          {% endif %}
          </div>
      </a>
    {% endfor %}
  </div>
  <div class="endof"></div>
</div>
