@import "_mixins.less";

h2, h3, h4 {
  text-align: center;
  margin: 1em 0 .5em;
}

p.subheading {
  text-align: center;
  margin: -.8em 0 1em;
  font-size: .9em;
}

p.minor {
  font-size: .8em;
}

a, button.link {
  cursor: pointer;
  color: @hl;
  text-decoration: none;

  &:hover {
    color: @fg;
  }
}

button.link {
  background: none;
  border: none;
  padding: none;
  margin: none;
  font-family: inherit;
  font-size: inherit;
}

.artist, .anime, .composer {
  &::before {
    .fas();
    display: inline-block;
    margin-right: .3em;
  }
}

.artist::before { content: @fa-var-microphone; }
.anime::before { content: @fa-var-tv; }
.composer::before { content: @fa-var-pen-nib; }
