h2, h3, h4 {
  text-align: center;
  margin: 1em 0 .5em;
}

p.subheading {
  text-align: center;
  margin: -.8em 0 1em;
  font-size: .9em;
}

p.minor {
  font-size: .8em;
}

a {
  cursor: pointer;
  color: @hl;
  text-decoration: none;

  &:hover {
    color: @fg;
  }
}
