@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  src: local('ComicNeue'), local('Comic Neue'), url(https://colons.co/fonts/comic-neue-1.1/ComicNeue-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 600;
  src: local('ComicNeue'), local('Comic Neue'), url(https://colons.co/fonts/comic-neue-1.1/ComicNeue-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://colons.co/fonts/Bitter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: local('Bitter Bold'), local('Bitter-Bold'), url(https://colons.co/fonts/Bitter-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://colons.co/fonts/KaushanScript-Regular.woff) format('woff2');
}
