.standalone-vote {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;

  width: 100%;

  @media (min-width: @breakpoint) {
    width: 50%;
  }
  
  .tracks {
    clear: both;

    border: 1px solid @border;
    border-radius: .4em;
    overflow: hidden;

    @media (min-width: @breakpoint) {
      margin: .1em;
    }

    > * {
      border-top: 1px solid @border;

      &:first-child {
        border-top: none;
      }
    }
  }

  .text {
    padding: .2em .5em;

    .when {
      float: right;
      font-size: .8em;
      padding-left: .5em;
    }
  }
}
