@import "_reset.less";
@import "_elements.less";
@import "_mixins.less";
@import "_vars.less";

@import "_tracks.less";
@import "_archive.less";

html {
  height: 100%;
}

body {
  font-family: "Bitter", "Calibri", serif;
  background-color: @bg;
  .noise();
  color: @fg;
  text-shadow: @bg 0 .1em 0;
  height: 100%;

  #everything {
    min-height: 100%;
    position: relative;

    ul#nav {
      height: 2em;
      line-height: 2em;
      margin: 0 auto;
      clear: both;
      font-size: .8em;
      list-style: none;
      text-align: center;
      border: 0 solid #333;
      border-bottom-width: 3px;
      /*-webkit-box-shadow: inset #eee 0 .2em 1em;*/
      width: 100%;
      overflow: hidden;

      li {
        display: inline-block;
        position: relative;

        &.active a {
          background-color: #ddd;
          text-shadow: none;
          color: #666;
          .noise();
        }

        &.lookatme {
          font-weight: bold;
        }

        span.new_tracks {
          display: none;
        }

        a {
          overflow: hidden;
          padding: 1em .8em;
          @media (max-width: @breakpoint) {
            padding: .4em .6em;
          }

         &:hover {
            border: none;
            background-color: #d66;
            .noise();
            color: #fff;
            text-shadow: none;

            span.new_tracks {
              width: 100%;
              display: block;
              font-weight: bold;
              line-height: 1em;
              color: #fff;
              text-shadow: #d66 0 0 .5em,
                           #d66 0 0 1em,
                           #d66 0 0 1.5em,
                           #d66 0 0 .5em,
                           #d66 0 0 1em,
                           #d66 0 0 1.5em,
                           #d66 0 0 .5em,
                           #d66 0 0 1em,
                           #d66 0 0 1.5em;
              font-size: 2em;
              z-index: 4;
              position: absolute;
              left: 0;
              bottom: .05em;
              text-align: center;
            }
          }
        }
      }
    }

    main {
      margin: 0 auto;
      max-width: 50em;
      min-width: 200px;
      padding: 1em;
      position: relative;
      padding-bottom: 10em;

      .roulette-mode-switch {
        .child-iter();
      }

      ul.plays {
        text-align: center;
      }

      div.user {
        .avatar img {
          padding-top: .5em;
        }

        ul.user-votes {
          list-style: none;

          li.vote {
            padding: 0 0 2em;
            border-radius: .5em;

            > p {
              padding: 0 1.5%;
              font-size: .8em;
            }

            p.content {
              font-style: italic;
            }

            p.when a {
              color: #999;
            }

            ul.vote-tracks {
              list-style: none;

              li.vote-track {
                margin: 0 3% .2em;
                padding: .4em 0;

                p.title {
                  font-size: 1.2em;
                  font-weight: bold;
                }
              }
            }

            &:hover {
              p.when a {
                color: @hl;
              }
            }
          }
        }
      }
    }
  }
}

/* selection list */
div.minitrack {
  text-align: center;
  margin-top: .5em;
}

div#selection h3 {
  text-align: center;
}

div.minitrack p.title {
  font-size: 1.2em;
}

div.minitrack p.id {
  display: none;
}

div#selection {
  clear: both;
  text-align: center;
  padding-top: 1em;
}

p.actions.small, p.deselect {
  font-size: .8em;
  margin-bottom: .3em;
  clear: both;
}

h3#selection {
  margin: 0;
}

div#stick {
  position: fixed;
  bottom: -1em;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

div#stick div.stuck {
  display: inline-block;
  background-color: #fff;
  .noise();
  box-shadow: #888 0 .5em 2em; /*,inset #ddd 0 0 2em;*/
  border: 1px solid #aaa;
  padding: .5em 1em 1.5em;
  margin: 0 auto;
  border-radius: 1em;
}

/* header and stamps */

div#titles {
  text-align: center;
  z-index: 1;
}

h1 {
  margin-bottom: -.1em;
  text-shadow: #333 0 0 .2em;
}

div#header-background {
  width: 100%;
  .noise();
  color: #eee;
  text-shadow: #000 0 .1em 0;
  /*-webkit-box-shadow: inset #222 0 .2em 2em;*/
  background-color: #333;
  overflow: hidden;
}

div#header-container {
  margin: 0 auto;
  max-width: 30em;
}


div#header {
  width: 100%;
  margin: 0 auto;
}

div#subtitle {
  font-size: .8em;
  text-align: center;
}

/* search form */

div#search_div {
  text-align: center;
  position: relative;
}

form#search input {
  background-color: #eee;
  .noise();
  border-radius: .3em;
  border: none;
  outline: none;
  height: 1.5em;
  font-family: "Bitter", "Calibri", serif;
  padding: .1em .3em;
  font-size: 1.1em;
  color: #333;
}

form#search input#query:focus {
  outline: none;
}

form#search input.default {
  color: #aaa;
  text-align: right;
}

p.new_tracks {
  padding-top: .5em;
}

.aligned, p.aside {
  text-align: center;
  clear: both;
  margin: .5em 0;
}

.everything {
  margin-top: 2em;
}

.instructions {
  margin-left: 37.5%;
}

a {
  color: @hl;
  text-decoration: none;
}

/* login form */
form.login tr {
  clear: both;
}

form {
  text-align: center;
  margin: .5em 0;
}

form p {
  text-align: left;
  margin: .5em 0;
}

form p input {
  text-align: left;
}

form p textarea {
  text-align: left;
}

form ul.errorlist li {
  list-style: none;
  font-size: .7em;
  color: #999;
  position: relative;
  top: .6em;
}

/* footer */

#footer {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  font-size: .8em;
  text-align: center;
  color: #999;
  line-height: 1.5em;
}


#footer .credit {
  margin: .5em 2em;
}

/* markdown */

.markdown * {
  text-align: left;
  margin-top: .5em;
}

/* front-page divs */

div.playlist .last_played, div.playlist .refusal, div.playlist div.disabled {
  display: none;
}

div.playlist div.metacontainer {
  display: block;
  width: 100%;
  text-align: left;
}

div.shortlist.limited {
  margin-top: 1em;
  float: left;
  width: 68%;
}

a#stamp img {
  width: 65px;
  height: 65px;
}

a#stamp:hover, a.avatar:hover {
  border: none;
}

/* stats */

table.stats {
  margin: 0 auto 4em;
  position: relative;
  min-width: 80%;
}

table.stats td, table.stats th {
  padding: .3em .5em;
}

table.stats td {
  position: relative;
}

table.stats .summary {
  text-align: right;
}

table.stats tr.user td.summary img {
  float: right;
  margin-left: 1em;
}

table.stats tr.user td.summary p.name, table.stats tr.track td.summary p.title {
  font-size: 1.2em;
  font-weight: bold;
}

table.stats td.summary p {
  font-size: .9em
}

table.stats .value {
  text-align: left;
}

table.stats th.summary span {
  display: none;
}

table.stats.tracks td.summary {
  padding: .5em;
}


/* trivia */

#trivia {
  margin: 0 0 3em;
}

  #trivia .successful {
    font-size: .6em;
    opacity: .8;
    margin-left: 2em;
  }

  #trivia .successful .exchange .answer:after {
    content: '[correct]';
    color: #d66;
    margin-left: .5em;
  }

  #trivia .created {
    color: #999;
    font-size: .8em;
  }

  #trivia .exchange {
    margin: 0 0 1em;
  }

    #trivia .exchange p:before {
      color: #999;
      width: 1em;
      margin-left: .3em;
      display: inline-block;
      text-align: center;
      font-style: normal;
    }

    #trivia .trivia:hover p:before,
    #trivia .trivia:hover .created {
      color: #d66;
    }

    #trivia .exchange .question {
      font-style: italic;
    }

    #trivia .exchange .question:before {
      content: '|'
    }

    #trivia .exchange .answer:before {
      content: '>'
    }

/* TBLC promo */

#tblc-promo {
  display: table-row;
}

  #tblc-promo div {
    display: table-cell;
    vertical-align: middle;
  }

  #tblc-promo #tblc-art a:hover {
    border: none;
  }

  #tblc-promo #tblc-art img {
    max-width: 240px;
  }

  #tblc-promo #tblc-text {
    padding-left: 1em;
  }

    #tblc-promo #tblc-text h2 {
      text-align: left;
      margin: 0;
    }

    #tblc-promo #tblc-text p {
      margin: .5em 0;
    }

@media (min-width:551px) {
  div#header {
    display: table;
  }

  div#titles {
    float: left;
    margin-left: 1em;
    margin-bottom: .5em;
  }

  div#title {
    width: 120px;
    float: right;
    text-align: center;
  }

  div#subtitle {
    clear: both;;
    width: 120px;
    float: right;
    text-align: center;
  }

  div#search_div {
    float: right;
    padding-top: 1.7em;
    padding-bottom: .8em;
    padding-right: 1em;
    width: 14em;
  }

  form#search {
    margin: 0 auto;
    width: 13em;
  }


  div.votedata {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  div.playlist div.votedata {
    display: block;
  }

  div.playlist {
    float: right;
    width: 32%;
  }

  div.current {
    float: left;
    width: 64%;
  }

  .markdown {
    width: 80%;
    margin: 0 auto;
  }

  form p label {
    clear: both;
    float: left;
    width: 42%;
    text-align: right;
    padding-right: .5em;
  }

  /* hover effects are desktop only */
  form#search input#submit:hover {
    color: #444;
  }

  h1 a:hover {
    border: none;
  }

  a:hover {
    color: #444;
    border-bottom: 1px dotted #d66;
  }

  table.stats .summary {
    width: 67%;
  }

  table.stats .value {
    width: 33%;
  }
  
  #trivia {
    margin: 0 auto 3em;
    max-width: 25em;
  }
}

@media (max-width:550px) {
  div#header {
    padding-bottom: .4em;
  }

  div#search_div {
    padding: .5em;
    max-width: 14em;
    margin: 0 auto;
  }

  div#title, div#search_div {
    display: block;
  }

  .aligned, p.aside {
    margin: 1em 0;
  }

  form p input, form p label, form p textarea {
    display: block;
  }

  form p label {
    margin-top: .5em;
  }

  div.request {
    margin-top: .3em;
  }

  table.stats .summary {
    width: 80%;
  }

  table.stats .value {
    width: 20%;
  }

  #tblc-promo {
    display: block;
  }

    #tblc-promo div {
      display: block;
      padding-left: 0 !important;
    }
}

#djDebug {
  text-shadow: none;
}
