{% extends parent %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h2 class=message>log in</h2>

  {% if is_vote %}
    <div class="markdown">
      {{ words|safe }}
    </div>
  {% endif %}

  {% if form.errors %}
    <p class="aside problems">wrong username/password, sorry</p>
  {% endif %}

  <form class="login" method="post" action="{% url "login" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
