{% extends parent %}

{% block title %}{{ title }}{% endblock %}

{% block main_classes %}
  login
{% endblock %}

{% block content %}
  <h2>log in:</h2>

  <form class="login" method="post" action="{% url "login" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />

    <p class="submit">
      <input type="submit" value="log in" class="button">
    </p>
  </form>

  <h2>or:</h2>

  <div id="login-methods">
    <section>
      <h3>existing twitter-based users</h3>
      <form>
        <p>we have no reason to believe that logging in with twitter will continue to work, so please once you've done this, add a password to your account and then remove twitter authentication from your nkd.su account</p>
        <p>you can do this from your profile page, which will be linked in the footer once you have signed in</p>

        <p>note: creating an account this way <strong>will not work</strong> for twitter accounts that have never requested anything on nkd.su. use a username and password instead</p>

        <p class="submit">
          <a class="button" href="{% url "social:begin" backend="twitter" %}">log in with twitter&hellip;</a>
        </p>
      </form>
    </section>

    <section>
      <h3>new nkd.su visitors</h3>
      <p>create a fresh nkd.su account with a username and password</p>

      <form class="login" method="post" action="{% url "register" %}">
        {% csrf_token %}
        {{ registration_form.as_p }}
        <p class="submit">
          <input type="submit" value="register" class="button">
        </p>
      </form>
    </section>
  </div>

  {% if is_vote %}
    <h2>log in? what?</h2>
    <div class="markdown">
      {{ words|safe }}
    </div>
  {% endif %}

{% endblock %}
