{% extends parent %}

{% block title %}{{ title }}{% endblock %}

{% block main_classes %}
  login
{% endblock %}

{% block content %}
  <h2>log in:</h2>

  <form class="login" method="post" action="{% url "login" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />

    <p class="submit">
      <input type="submit" value="log in" class="button">
    </p>
  </form>

  <h2>or:</h2>

  <div id="login-methods">
    <section>
      <h3>create an account</h3>
      <p>create a fresh nkd.su account with a username and password</p>

      <form class="login" method="post" action="{% url "register" %}">
        {% csrf_token %}
        {{ registration_form.as_p }}
        <p class="submit">
          <input type="submit" value="register" class="button">
        </p>
      </form>
    </section>
  </div>

  {% if is_vote %}
    <h2>log in? what?</h2>
    <div class="markdown">
      {{ words|safe }}
    </div>
  {% endif %}

{% endblock %}
